[2018-12-10 01:20] iynere opened #3 "add automated testing/deployment"
at the very least, basic validation + automated orb publishing

[2018-12-20 21:54] iynere commented on #3
in progress: https://github.com/CircleCI-Public/aws-ecr-orb/tree/add-automation

[2018-12-26 00:23] bessey opened #4 "Improve performance with --cache-from"
If there was an option to use docker build's --cache-from here:
https://github.com/CircleCI-Public/aws-ecr-orb/blob/master/src/orb.yml#L73
It would presumably cut build time significantly in the same way Circle's proprietary layer caching does, but more reliably

Reference:
https://semaphoreci.com/docs/docker/docker-layer-caching.html
https://docs.docker.com/edge/engine/reference/commandline/build

[2019-01-03 17:52] FelixDuvalletKodiak opened #5 "Add support for --build-arg"
Some Dockerfiles contain [arguments](https://docs.docker.com/engine/reference/builder/#arg):

    ARG SOME_ARG="default_value"

and are filled in during building: `docker build --build-arg SOME_ARG=my_value`

Can we add support for a list of build arguments in this orb?

[2019-01-09 19:05] iynere commented on #3
done !

[2019-01-09 19:06] #3 closed

[2019-01-12 20:37] jeffnappi opened #9 "When setting the profile-name property, ecr-login fails."
If the `profile-name` setting is overridden, the build fails.

[2019-01-16 01:44] Tybot204 opened #10 "Add lifecycle hooks"
I may be missing how to accomplish this specific case, but this came up trying to build and push a docker image to ECR which requires pulling from a private docker image. In my existing CircleCI flow, I log into Docker prior to attempting to build the image.

This could be more broadly solved by adding lifecycle hooks, similar to the Docker orb:
https://circleci.com/orbs/registry/orb/circleci/dock

[2019-01-16 18:43] iynere commented on #9
thanks ! @jeffnappi i don't think we're currently integration-testing the orb with alternate profile names, let me set that up & that should help resolve this

[2019-01-16 19:49] iynere commented on #9
@jeffnappi can you be more specific about where the failure occurs ? feel free to link me to a job, so i can take a look

if the failure is towards the beginning, the bug may be in our [AWS CLI orb](https://circleci.com/orbs/registry/orb/circleci/aws-cli), not this one—otherwise, if it occurs later on, it's probably an issue with this orb

[2019-01-16 19:55] iynere commented on #9
hmmmm, i'm not able to reproduce @jeffnappi https://circleci.com/gh/CircleCI-Public/aws-ecr-orb/224

[2019-01-16 20:12] jeffnappi commented on #9
Hi! Thanks for taking a look, I will see if I can reproduce and get back to
you :)

On Wed, Jan 16, 2019, 11:55 AM rose <notifications@github.com wrote:

[2019-01-16 21:20] Tybot204 commented on #10
Closing based on the conversation here: https://github.com/CircleCI-Public/aws-ecr-orb/pull/11

[2019-01-16 21:20] #10 closed

[2019-01-18 17:05] jeffnappi opened #14 "Support for layer caching?"
Would be great to have this Orb support https://circleci.com/docs/2.0/docker-layer-caching/

[2019-01-18 17:27] jeffnappi commented on #14
I see that this can be accomplished via `executors`. Closing this issue, but for anyone looking for information on this you simply need to enable docker_layer_caching in an executor in order to enable it.

[2019-01-18 17:27] #14 closed

[2019-01-24 18:01] DanRoestorf commented on #5
@rauny-brandao What is the explanation on why this was closed? Build args are not working as documented.

Attempting to use build args like so:

[code]

Results in:

[code]

[2019-01-25 19:06] DanRoestorf opened #17 "Unable to use aws-ecr/build_and_push_image in jobs"
### Orb version

1.0.0

### What happened

I'm unable to use the aws-ecr/build_and_push_image command in a command or a job directly, it only works in the workflow.

Here's an example of my CircleCI config:

[code]

When ran CircleCI errors out and outputs this:

[code]

### Expected behavior

The aws-ecr/build_and_push_image command should work in commands and jobs.

[2019-01-25 20:03] DanRoestorf commented on #17
After reviewing the code I see that `aws-ecr/build_and_push_image` is only available as a job and not a command.

Would it be possible to expose this as a command? My configuration handles the deployment of multiple services in the repo and I would like to extract this step to a command.

[2019-01-25 20:43] Tybot204 commented on #17
I also was having this issue trying to configure an orb I am writing for internal use on some projects. I would like to be able to create a job in my orb that calls this job with some preset parameters (which I believe would need to be exposed as a command to work).

[2019-01-27 02:35] gvolpe opened #19 "Access file generated by previous job?"
### Orb version

2.0.3

### What happened

I'm trying to deploy a Haskell application but I'm failing to copy the executable file from one job to the other. This is my CircleCI config file:

[code]

And my `Dockerfile`:

[code]

### Expected behavior

I'm not sure on whether `attach-workspace` is the option I'm looking for or not but I'd expect to have access to the executable file generated in th

[2019-01-28 03:21] gvolpe commented on #19
Leaving an answer in case someone else finds it useful:

I just read about [using workspaces to share data among jobs](https://circleci.com/docs/2.0/workflows/#using-workspaces-to-share-data-among-jobs) and found out that the [haskell/build](https://circleci.com/orbs/registry/orb/haskell-works/haskell-build) Orb that I'm using exposes the option `write-result-workspace` which I was not using. It n

[2019-01-28 03:21] #19 closed

[2019-01-28 18:20] iynere commented on #17
yes, @DanRoestorf the issue you identified initially was the intended behavior. when jobs are super all-encompassing, it's v v convenient (in my experience) to only have to call them in your `workflows` config. however, providing both a job & command is even better & allows for more modular use-cases.

that said, are you aware of our `pre-steps` & `post-steps` features ?

https://circleci.com/docs

[2019-01-28 18:20] #17 closed

[2019-02-26 08:41] Vlaaaaaaad opened #20 "Multiple tags per image"
### Orb version

3.0.0

### What happened

Currently images can only have 1 tag as per your example due to [how the job is written](https://github.com/CircleCI-Public/aws-ecr-orb/blob/3e435388beb8a9abdc2c2369fbf8b6ac44cff8ab/src/commands/build-image.yml#L44):
[code]

### Expected behavior

There is a desire for an image to have multiple tags, in our case both the `${CIRCLE_BRANCH}-${CIRCLE_BUILD_N

[2019-02-27 06:29] dolphub opened #21 "Multi-stage docker builds fail"
### Orb version
3.0.0

### What happened
Docker build fails with multi-stage copy

[code]
### Expected behavior

I may not be understanding this properly... perhaps there is something to do with the executor used with this build to not have a docker engine that supports multi-stage build commands / functionality?

Here is my config.yml

[code]

**Update**
I've added the recommended following `/` t

[2019-02-28 09:20] gujo opened #22 "Create-repo fails if repo exists"
### Orb version
3.0.0

### What happened
When running a job with create-repo: true the job will fail on the second run because the repo already exists.

[code]

### Expected behavior
According to the documentation the repo should be created _if it does not exist,_  this would mean that the RepositoryAlreadyExistsException should be ignored.

[2019-03-03 16:50] dolphub commented on #21
Tried to reproduce in sample repo but unable, closing.

[2019-03-03 16:50] #21 closed

[2019-03-05 21:18] ericf89 commented on #14
@jeffnappi  Is this possible at the job level, or only by command?  Still trying to figure out the syntax :/

[2019-03-05 21:56] jeffnappi commented on #14
@ericf89 At the top of your `.circleci/config.yml` you need to define the executor:
e.g.
[code]

Then in your workflow job you can specify the executor:
[code]

My understanding is that Orbs can only be used within workflows.

[2019-03-05 22:16] ericf89 commented on #14
@jeffnappi  Awesome!  That worked beautifully.  Thanks a bunch. 🎉

I was trying to do the  something like
[code]
in line in the job with no luck.  Didn't know you could define those excutors externally.

I think this orb does expose a build-and-push-image command in addition to the build_and_push_image job, so you can use the command in your own job some how.  But I've not been able to get that to

[2019-03-08 10:59] Vlaaaaaaad opened #23 "AWS custom key names"
### Orb version

3.0.0

### What happened

Currently most of the parts of this repo( the build and push image command was of interest to me) use the default AWS keys env vars( `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`).

For some repos we have multiple AWS keys( say one for pushing the image and one for some CI/CD tools) and we push to multiple AWS ECR repos.

### Expected behavior

It would

[2019-03-14 12:27] psoares-resilient commented on #22
Would be keen to see a fix for this soon

[2019-04-11 09:35] peermuellerxw commented on #22
This could do the job:

[code]

[2019-04-11 19:46] vinyoliver opened #25 "Set TAG on runtime"
### Orb version
3.1.0

### What happened
I'm not being able to set the TAG parameter on runtime. On my workflow, I got a job that downloads the project and creates a release. I'd like to take the release number and pass to build_and_push_image as an environment variable. I've tried the following

[code]
then on the ecr job

[code]

Also tried to set the environment variable using
`echo 'export TAG

[2019-04-12 16:35] jemc commented on #22
I've opened PR #26 using a slightly adapted version of the suggestion from @peermuellerxw above (I rearranged order of arguments for consistency and added the missing `--profile` flag)

[2019-04-12 16:47] #22 closed

[2019-04-15 09:24] psoares-resilient opened #27 "Add a CHANGELOG"
### Orb version
Applies to <=4.0.0

### What happened
When new versions are published, It would be nice to see what has been changed from one version to another. Particularly when it is a breaking change (change in major).

### Expected behavior
CHANGELOG.md exists and is up to date, possibly following this: https://keepachangelog.com/en/1.0.0/ as part of your release process, make sure that the f

[2019-04-26 22:12] virtualdom opened #28 "Whitelist AWS account for image pull"
### Orb version

Applies to >=4.0.2

### What happened

Would be neat to have parameters for AWS account IDs to give secondary access to created repos. If a config has `create-repo: true`, there could be another property `secondary-account-ids` that takes a list of AWS account IDs to add to a policy that allows for image pulling from those accounts.

### Expected behavior

By using the orb and lis

[2019-04-29 21:42] iynere commented on #27
great idea, thank you @psoares-resilient we should implement this across the board for all our first-party orbs tbh

[2019-05-13 11:32] ozooxo opened #29 "`aws-ecr/build_and_push_image` should be able to be used as a command"
### Orb version

3.1.0

### What happened

If I use `aws-ecr/build_and_push_image` in `workflows` as a "job", then everything goes fine.

[code]

However, if I use it as a "command" in my customized job, I'll get error messages.

[code]

[code]

### Expected behavior

I think it will be nice if `aws-ecr/build_and_push_image` can be used as a command. By doing so we can hide the detailed steps in m

[2019-05-13 14:47] hwaxxer opened #30 "Documentation and README inconsistencies"
### Orb version
4.0.1

### What happened
Expected `repo` to be a URI as per the documentation. Instead, it's the repo name.

I left `account-url` blank, but the interpolated URI becomes `<< parameters.account-url >>/<< parameters.repo >>:<< `

### Expected behavior
Since `repo` is the only required parameter, I would expect it to be a URI and not a repository name.

[2019-05-13 23:00] ozooxo opened #32 "`workspace-root` does not support anything which is not `.`"
### Orb version

3.1.0

### What happened

[code]

I got

[code]

https://circleci.com/gh/gitenter/gitenter/388

but change to `.` the job succeed.

[code]

https://circleci.com/gh/gitenter/gitenter/393

### Expected behavior

If it is equivalent to

[code]

`workspace-root` should support arbitrary path rather than just `.`.

[2019-05-14 11:39] ozooxo commented on #32
Looks like in your orb definition, you have nowhere to specify `working_directory` (so it use the default value `.` and `workspace-root` has to be `.`, otherwise it will complain it cannot find the file).

However, I also realized for some images (e.g. `circleci/openjdk:11.0-jdk`) you cannot setup `working_directory` to be `.`. Otherwise it will fail the `checkout` step with the error

[code]

htt

[2019-05-14 13:45] perbergland opened #33 "pre-steps not working"
### Orb version
4.0.1

### What happened
I tried to add pre-steps to the orb job as per the 2.1 documentation for jobs but the schema validation fails.

[code]

I get this pretty unhelpful error

[code]

### Expected behavior

If pre-steps would work I could actually use the orb job to attach some stuff from another job before building the docker image.

[2019-05-22 16:50] iynere commented on #29
@ozooxo it doest exist as a command:

https://github.com/CircleCI-Public/aws-ecr-orb/blob/master/src/commands/build-and-push-image.yml

confusingly, it has a slightly different name. i'll push a commit so the names match.

[2019-05-22 17:08] iynere commented on #29
ok, give it a shot w/ version `4.0.2`—both the command & the job are now called `build-and-push-image` @ozooxo

[2019-05-22 17:08] #29 closed

[2019-05-22 17:26] iynere commented on #32
i think you may be misunderstanding how `persist_to_workspace` works @ozooxo

https://circleci.com/docs/2.0/configuration-reference/#persist_to_workspace

the `root` & `path` parameters tell our system what files you want to save to your workspace. thus, those paths will need to exist.

the error you saw originally is not because of anything in the orb code—it's because you have some kind of path

[2019-05-22 17:26] #32 closed

[2019-05-22 17:43] iynere commented on #33
indentation error, `at` needs 2 spaces @perbergland

[2019-05-22 17:43] #33 closed

[2019-05-28 16:24] rob4629 commented on #29
Hey,

I'm not sure if I'm using the command incorrectly, however I keep hitting a Build Error: `Cannot find a definition for command named aws-ecr/build_and_push_image`

[code]

I've also tried calling it directly from the Job with the same result.

[2019-05-28 16:49] roger-king opened #35 "Version 6.0.0 - Cannot find a definition for job named aws-ecr/build_and_push_image"
### Orb version

### What happened

When updating from the [example](https://circleci.com/docs/2.0/ecs-ecr/#build-and-push-the-docker-image-to-aws-ecr), 0.0.2 to 6.0.0. Circle is throwing an error:

[code]

### Expected behavior

Job should run.

my config:
[code]

[2019-05-28 16:51] iynere commented on #35
the job is called `build-and-push-image @roger-king

[2019-05-28 16:51] #35 closed

[2019-05-28 16:51] iynere commented on #29
https://github.com/CircleCI-Public/aws-ecr-orb/issues/29#issuecomment-494889985 @rob4629

[2019-05-28 17:12] roger-king commented on #35
Thanks for that...

I am trying to now use `aws-ecr/build-image` and I am still getting `Cannot find a definition for job named aws-ecr/build-image`

[code]

[2019-05-28 17:15] iynere commented on #35
@roger-king build-image is a command, not a job:

https://github.com/CircleCI-Public/aws-ecr-orb/tree/master/src/commands

please see the registry listing for complete info on the jobs & commands available in this orb (or look at the `/src` directory in this repo):

https://circleci.com/orbs/registry/orb/circleci/gcp-gcr

[2019-05-29 21:22] rob4629 opened #36 "Unable to specify a target image to build"
### Orb version
6.0.0

### What happened
I'm trying to call the `build-and-push-image` job, but was wondering whether I can pass in a target image for the build step?

### Expected behavior
Essentially I’m using a multi-stage build in my Dockerfile, where the last image contains all of the test code. I would like to push the previous image to ECR, but can’t see how to do this using the `build-and-

[2019-05-29 21:31] iynere commented on #36
wouldn't you just use the `push-image` command in that case ? @rob4629

[2019-05-29 21:36] rob4629 commented on #36
I'm planning to do that just now, it means adding in an additional docker build step (w/ target image specified) prior to `push-image`.

I was just wondering if the ability to specify a target build existed, or if it was possible to add this functionality. (I'm not skilled enough to open a PR to add this functionality... and also don't know if others would find it useful)

[2019-05-29 21:39] iynere commented on #36
well, this should help you w/ the `docker build` step @rob4629 http://github.com/circleci-public/docker-orb

i guess i'm not sure what you mean by 'target build' ? the idea here is that your 'target build' is your ECR account url + your tag, i believe

[2019-05-29 21:41] iynere commented on #36
under the hood, all it's doing is this :

https://github.com/CircleCI-Public/aws-ecr-orb/blob/master/src/commands/build-image.yml#L41-L45

[2019-05-29 21:46] rob4629 commented on #36
Right. All I was wondering was whether that command could be amended to

[code]

[2019-05-29 21:48] iynere commented on #36
ahh, i see. you should already be able to do that by passing `--target YOUR_TARGET` to the `extra-build-args` parameter @rob4629

[2019-05-29 21:48] #36 closed

[2019-05-29 21:49] rob4629 commented on #36
Great, thanks for confirming.

[2019-05-29 21:49] rob4629 commented on #36
Great, thanks for confirming.

[2019-06-10 10:04] grking8 commented on #5
Can someone confirm this works please with an example as I am struggling have tried various things e.g.

`config.yml`

[code]

`Dockerfile`

[code]

prints `somedefault` rather than `bye`

thanks for any help in advance

[2019-06-10 10:07] grking8 commented on #5
`Dockerfile --build-arg GITHUB_SSH_RSA_PRIVATE_KEY=bye`

doesnt work either so looks like I have a problem somewhere else. any tips?

[2019-06-10 10:10] grking8 commented on #5
`docker    build --no-cache -t analytics_api --build-arg GITHUB_SSH_RSA_PRIVATE_KEY=bye   . `

works fine

[2019-06-12 13:10] ozooxo opened #37 "Command `aws-ecr/build-and-push-image` should include `setup_remote_docker`"
### Orb version

6.0.0

### What happened

Right now by using `aws-ecr/build-and-push-image` as command, I got the following error in "Build docker image" step:

[code]

https://circleci.com/gh/gitenter/gitenter/645

By adding `setup_remote_docker` things will pass with no problem.

[code]

https://circleci.com/gh/gitenter/gitenter/647

### Expected behavior

It is kind of annoying for command use

[2019-06-12 16:22] iynere commented on #37
@ozooxo if you want `setup_remote_docker` you can use the `build-and-push-image` _job_, which comes preconfigured with its own executor. for the command, you definitely need to know for yourself to use an image that supports building docker images:

https://circleci.com/docs/2.0/building-docker-images

(either a docker image + `setup_remote_docker`, or the `machine` executor)

[2019-06-12 16:25] iynere commented on #37
i'll add a param so it's an option

[2019-06-12 17:10] iynere commented on #37
functionality added in `circleci/aws-ecr@6.1.0`

[2019-06-12 17:10] #37 closed

[2019-06-17 22:59] kennyjwilli opened #39 "Expose account-url as a static parameter not just as an env var"
### Orb version

6.1.0

### What happened

`account-url` is only exposed as an environment variable.

### Expected behavior

`account-url` is exposed as an environment variable **and** a static string.

[2019-06-18 15:23] iynere commented on #39
@kennyjwilli this is an intentional design decision, to promote better security. i don't think we want folks having the option to pass in their account URL in plaintext.

[2019-06-18 16:32] kennyjwilli commented on #39
Not sure I agree. The account URL simply contains your AWS account ID and an AWS region. Neither of those things needs to be kept secret. For example, Datadog publishes their AWS account ID publicly for their [AWS integration](https://docs.datadoghq.com/integrations/amazon_web_services/?tab=allpermissions#installation). The option should be provided to orb users to determine if passing the account

[2019-06-18 16:42] iynere commented on #39
@kennyjwilli that's fair—feel free to submit a pr to make that modification, should be pretty simple. thank you!

[2019-06-20 16:25] kgriffiths commented on #20
This would be great to have

[2019-06-20 16:51] iynere commented on #20
yeah we can definitly make this happen even without a `list`-type parameter. it would have to be a comma-separated string, which would then be parsed out in the orb source code

[2019-06-20 16:54] iynere commented on #20
i see there are a lot of upvotes on this issue—does anyone wanna take a crack at a PR ?

here's some examples of how we usually do this:

https://github.com/CircleCI-Public/slack-orb/blob/staging/src/commands/notify.yml#L92-L101
https://github.com/CircleCI-Public/gcp-binary-authorization-orb/blob/master/src/commands/configure-policy.yml#L151-L181

if not, we will get to it eventually, but it will

[2019-07-07 07:40] ozbillwang opened #41 "can't pass the check by command "circleci config process .circleci/config.yml""
### Orb version

got different issues with different orb versions

### What happened

With sample (https://circleci.com/blog/orbs-aws-ecr/) by using `0.0.4`, this pipeline work with command `circleci config process .circleci/config.yml`

I'd like to manage the region, account-url, repo and tag name with CONTEXT variables or CIRCLE variables.

[code]

between version >0.0.4 and < 5.0.0, I got below

[2019-07-07 07:49] ozbillwang opened #42 "I am surprise this repo doesn't manage release/tag properly"
The whole repo has only one release `v6.1.0-minor ` currently

How to manage the older versions? How to trace the changes between different versions?

[2019-07-09 15:31] iynere commented on #41
that's because we renamed the job to `build-and-push-image` in the laster versions @ozbillwang

https://circleci.com/orbs/registry/orb/circleci/aws-ecr

please give it a shot with that name & let us know how it goes

[2019-07-09 15:40] iynere commented on #42
please see https://circleci.com/orbs/registry/orb/circleci/aws-ecr @ozbillwang

[2019-07-09 15:40] #42 closed

[2019-07-09 15:42] iynere commented on #42
we're working on better automated changelogs & release tagging on the github side of things, but currently, it's not standardized across our 1st-party orb repos, so your best bet is using the orb registry & the circleci cli:

https://circleci-public.github.io/circleci-cli/circleci_orb_source.html

[2019-07-10 04:06] ozbillwang commented on #42
Sure, @iynere

Could you show me something that I can find out the differences between version 6.1.0 and 6.0.0 or 5.0.0?

[2019-07-10 06:05] ozbillwang commented on #41
I went through the name three times,  then know the differences (change _ to -)

Thanks to point this.

[2019-07-10 06:05] #41 closed

[2019-07-10 14:26] iynere commented on #42
use `circleci orb source circleci/aws-ecr@6.1.0` & compare the output to the output of whatever other version you want to compare

or use the 'releases' dropdown on the registry page : https://circleci.com/orbs/registry/orb/circleci/aws-ecr

[2019-07-17 18:30] arsiaardalancanopy opened #43 "There is a typo in the official documentation - `account-url`"
### Orb version
6.1.0

### What happened
description for `account-url` has a typo:
It is:
`{awsAccountNum}.dkr-ecr.us-west-2.amazonaws.com`

### Expected behavior
It should be:
`{awsAccountNum}.dkr.ecr.us-west-2.amazonaws.com`

[2019-07-17 19:02] iynere commented on #43
@arsiaardalancanopy thank you! can you submit a PR ?

should be changed in any file within https://github.com/CircleCI-Public/aws-ecr-orb/tree/master/src where the `account-url` parameter appears

[2019-07-18 15:09] TomonoriMatsumura commented on #23
I have experienced same kind of problem, too.

I reported this issue to one of CircleCI support team member and I got message from him that he would create ticket on their BTS, so dev team  might investigate on this issue.

Hope I could get reply from him, but I am not sure if dev team would really work on this issue.

[2019-07-18 18:43] iynere commented on #23
so, what is the specific ask here ? you _should_ already be able to simply pass in different environment variable names to these parameters

[2019-07-19 02:39] TomonoriMatsumura commented on #23
https://github.com/CircleCI-Public/aws-ecr-orb/commit/d1d016a859cdf53ed24880b0e90708cb2e45558d

I asked CircleCI support team that the fix added to this commit is not what I want, I want to pass ‘env_var_name’ type rather than ‘string’ type.

I wrote the same kind of process in my orb, and experienced very same behavior what this issue suggests.

I asked if this behavior is what CircleCI team expe

[2019-07-19 09:46] TomonoriMatsumura commented on #23
I am sorry, I didn't realize that this is fixed.

The status of this issue is still open so that the behavior mentioned on this issue is same as I have experienced on my orb project.

I got message from CircleCI support team, and the solution they suggested is exactly what is done on this orb.

[2019-07-21 15:35] volomatt opened #44 "aws cli installation issue"
### Orb version

6.1.0

### What happened

#!/bin/bash -eo pipefail
aws configure set aws_access_key_id \
$AWS_ACCESS_KEY_ID \
--profile default
Traceback (most recent call last):
  File "/opt/circleci/.pyenv/versions/2.7.12/bin/aws", line 19, in <module>
    import awscli.clidriver
  File "/opt/circleci/.pyenv/versions/2.7.12/lib/python2.7/site-packages/awscli/clidriver.py", line 36, in <module>

[2019-07-21 17:09] volomatt commented on #44
Tracked it down to aws-cli
https://github.com/aws/aws-cli/issues/4332

[2019-07-21 17:09] #44 closed

[2019-08-11 01:55] godlike0108 opened #47 "Type check error when try to build using ecr version above 0.0.4"
### Orb version

Type check error happens when version is above 0.0.4.

### What happened

[code]
This is part of my CircleCI setup.
This works totally fine when version is below 0.0.4

Refer to this [issue#41](https://github.com/CircleCI-Public/aws-ecr-orb/issues/41), I changed orb job name to `aws-ecr/build-and-push-image` when I try to use `circleci/aws-ecr@6.2.0`

However this type check error

[2019-08-16 16:59] illia-sh commented on #23
The issue it still exist even 6.2.0 version.
If "AWS_ACCESS_KEY_ID" is defined in the environment variables but another variable name defined in the job "FANCY_AWS_ACCESS_KEY_ID_1"
[code]
   It will use "AWS_ACCESS_KEY_ID" from the variables rather then "FANCY_AWS_ACCESS_KEY_ID_1" , same for secret key.

I made it work only removing the default one "AWS_ACCESS_KEY_ID" from env variables and always

[2019-08-22 05:28] lokst commented on #47
@godlike0108 In newer versions of the orb, some of the parameters are now of the type `env_var_name` instead of `string`. Could you try these changes? (You will need to define a new project env variable called AWS_ACCOUNT_URL or any name that you like)

[code]

[2019-08-23 05:09] hollyhutson commented on #9
@iynere we saw the same issue where failure occurs if `profile-name` is set. This occurs when trying to authenticate with ecr using get-login, I believe because the profile isn't set during this step.

[2019-08-28 11:42] #47 closed

[2019-08-28 11:42] lokst commented on #47
@godlike0108 Closing this issue for now, but feel free to reopen it if you still have questions

[2019-08-28 19:38] toymachiner62 opened #49 "Build fails on "Configure AWS Access Key ID" step"
### Orb version

6.2.0

### What happened

My `.circle/config.yml` file:
[code]
![image](https://user-images.githubusercontent.com/485782/63887047-87fe0500-c9a1-11e9-8d3c-9f36574dca03.png)

### Expected behavior

Build should get past this step.

[2019-09-03 14:58] toymachiner62 commented on #49
I figured out that my env var was not actually set.

[2019-09-03 14:58] #49 closed

[2019-09-06 18:27] stephenh commented on #39
The docs here also use a static string:

https://circleci.com/docs/2.0/ecs-ecr/

[code]

As well as this example from the aws-ecs docs:

https://github.com/CircleCI-Public/aws-ecs-orb/blob/master/src/orb.yml.hbs#L22

@iynere I'm happy to do a PR but what's the right yaml incantation to say "this can be either a string or an env-var, and if its an env-var, then resolve it, otherwise leave it alone"

[2019-09-11 09:29] lokst commented on #20
Resolved in version`circleci/aws-ecr@6.3.0` (See: https://github.com/CircleCI-Public/aws-ecr-orb/pull/45)

[2019-09-11 09:29] #20 closed

[2019-09-12 07:16] danielmarzini commented on #20
It seems that this issue is still valid, here's my configuration with the 6.3.0 version:

aws-ecr/build-and-push-image:
          requires:
            - production-build
          account-url: AWS_ECR_ACCOUNT_URL_ENV_VAR_NAME
          region: AWS_REGION_ENV_VAR_NAME
          tag: 'latest,${CIRCLE_BRANCH}-${CIRCLE_BUILD_NUM}'
          aws-access-key-id: ACCESS_KEY_ID_ENV_VAR_NAME
          aws-

[2019-09-16 14:03] toymachiner62 opened #50 "Set `tag` dynamically causes failure"
### Orb version
6.3.0

### What happened
Build fails as version tagged locally is different than version trying to be pushed.

![image](https://user-images.githubusercontent.com/485782/64964539-ddbb2400-d860-11e9-9b88-309cff619fc7.png)

### Expected behavior
Tag should be the same

`.circle/config.yml`
[code]

[2019-09-17 06:40] lokst commented on #50
@toymachiner62 Thanks for reporting this. This is a case (dynamically evaluated tag value that evaluates to a different value during build and push) that version 6.3.0 does not handle. In the meantime, could you consider using a different way to compute a tag value? For example `$CIRCLE_BUILD_NUM` ?

[2019-09-20 22:25] ozooxo opened #51 "Feature request: Support goss test"
It will be really nice if we can test our docker image (through goss test) after build the image.

Refer to:

- https://circleci.com/blog/testing-docker-images-with-circleci-and-goss/
- https://github.com/aelsabbahy/goss

[2019-09-23 15:11] gagandeepp commented on #43
I will take this one

[2019-09-26 04:08] nihonjinrxs commented on #5
Was looking at this for a possible Hacktoberfest contribution, but it seems like maybe #8 solved it? Is that not true?

[2019-09-26 07:58] lokst commented on #5
@nihonjinrxs You're right, the work done in https://github.com/CircleCI-Public/aws-ecr-orb/pull/8 can be used to resolve this issue. Apologies for the confusion, and thanks for reaching out to clarify!

[2019-09-26 07:58] #5 closed

[2019-09-26 08:06] lokst commented on #51
@ozooxo Could you elaborate on what kind of support you are thinking of? Would it be for the orb to alllow running goss (installing goss if it's not detected) on the built image with a user-provided goss yaml file?

[2019-09-26 16:22] #43 closed

[2019-09-28 21:45] RanadeepPolavarapu commented on #4
I'll take this.

[2019-09-30 11:26] ozooxo commented on #51
@lokst Yup, that's what I was thinking about. Probably provide a flag `goss_enabled` (may be smart that if there's no `goss.yaml` just ignore is flag, otherwise default true) and if enabled, run `dgoss` command at the end of the build process.

Also just realized I pasted the wrong URL in my previous question (also modified now). it is https://circleci.com/blog/testing-docker-images-with-circleci-

[2019-09-30 17:02] foo-tw opened #53 "support assumeRole"
### Orb version

6.3.0

### What happened

my setup involves the IAM `ci` user used by circle having no permissions except assumeRole, and a `ci` role having permissions to ECR, as common practice for segregating access control.
I had assumed that the `profile-name` param in concert with a custom awscli `config` file (containing a profile definition that specifies a `role_arn`) would serve exactly

[2019-10-02 19:20] alaxalves opened #59 "Docker run failure"
### Orb version

version: 2.1

### What happened

It seems that there is a missing package.json file.

![image](https://user-images.githubusercontent.com/19597045/66074800-71af1000-e530-11e9-9ef9-d78c3ae7f7e2.png)

### Expected behavior

app should start!

[2019-10-03 15:44] KyleTryon commented on #4
I may be incorrect here, attempting to look into this. I do not believe this will have any effect as (i think) the docker image you are sourcing for as a cache would need to be in the container in the first place, meaning you would have to first pull it and then use it as a cache.

If that is incorrect I would love to be wrong!

[2019-10-03 21:13] RanadeepPolavarapu commented on #4
Hi @KyleTryon, I agree with you, in most usecases this would not even apply.

For very complex usecases, I think this functionality would be particularly useful for using common cache layers for build time intensive `RUN` operations. Off the top of my head, an example I can come up with is if you were trying to compile a C binary from source via GCC because you need that bin as a part of image. Th

[2019-10-04 16:28] KyleTryon commented on #4
That does make sense. Thank you for sharing that explanation.

@RanadeepPolavarapu @vsoch have both submitted PRs to this issue. Though both are slightly different. @vsoch was first as well.

https://github.com/CircleCI-Public/docker-orb/pull/21
https://github.com/CircleCI-Public/docker-orb/pull/16

However, I am more interested in merging whichever we believe makes the most sense.

They are very

[2019-10-04 16:31] KyleTryon commented on #4
Actually going to reopen this issue for comment. Sorry about that. 1 concern.

https://github.com/CircleCI-Public/docker-orb/pull/21/files#diff-097aec5fcf12af1d49792323e01f8b6fR86

Automatically pulling the images when using the Cache from parameter seems important.

@vsoch one possible concern I have with your approach is if someone uses the cache from parameter in a custom job but has not also u

[2019-10-04 16:57] vsoch commented on #4
Definitely! I might next some help to get the command right. What (I thought) I had done was add a proper when condition so that if cache_from is used, it will always pull first. E.g.,:

[code]
I'm a bit confused, because the statement above is defined in "publish" and the step "pull" is what is implementing the core bits for cache_from (which is just a parameter). You are saying this approach won

[2019-10-04 17:18] RanadeepPolavarapu commented on #4
I went with the following design decisions in both this PR and CircleCI-Public/docker-orb#21:
- Avoid writing an extra pull command as a `docker pull` can be done by the users quite easily and as a pull command *may* fall out of the scope of these orbs which has generally been to assist in the building of images.
- Perform an automatic implicit `docker pull` if the `cache-from` param is not empty

[2019-10-04 17:19] vsoch commented on #4
@RanadeepPolavarapu do you want to help me on #16 to achieve what @KyleTryon is asking? I'm relatively new with the configs here and would really appreciate it!

[2019-10-04 17:21] RanadeepPolavarapu commented on #4
@vsoch If you would like, would you want to use my approach from CircleCI-Public/docker-orb#21? It accomplishes what you want, but without the `when` conditionals, it will be less verbose in the configs. If you are open to it, I can push my code to your #16 and co-author us both.

[2019-10-04 17:25] vsoch commented on #4
If @KyleTryon can confirm this is the best approach to take - I'm down! And I don't think you can push directly, so ideally you can PR to https://github.com/CircleCI-Public/docker-orb/pull/16 (and that way I can also see the changes, and learn from them). I'd like for us both to be commit authors, if that's okay with you.

[2019-10-04 17:27] RanadeepPolavarapu commented on #4
@vsoch Absolutely, I'm cool with that. Once @KyleTryon gives sign off, I'll try to PR them to CircleCI-Public/docker-orb#16.

[2019-10-04 17:33] vsoch commented on #4
Awesome! I love Hacktoberfest <3

[2019-10-04 17:56] KyleTryon commented on #4
@RanadeepPolavarapu & @vsoch Awwwwwwww yeeeesss. Let's do this.
![](https://media0.giphy.com/media/CjmvTCZf2U3p09Cn0h/giphy.gif)

[2019-10-04 18:38] RanadeepPolavarapu commented on #4
Done. Pushed co-authored commit CircleCI-Public/docker-orb@8c42b270751c383507a0cbdbaaf93fd649befb16 at CircleCI-Public/docker-orb#21.

We can merge CircleCI-Public/docker-orb#21 or @vsoch can cherry-pick that hash onto CircleCI-Public/docker-orb#16. Both will yield the same outcome with co-authored commit.

@vsoch if you prefer to merge CircleCI-Public/docker-orb#16 with that commit instead, you c

[2019-10-04 18:51] vsoch commented on #4
okay let me give that a try! I expected you to open a PR to https://github.com/CircleCI-Public/docker-orb/pull/16 but this works too :)

[2019-10-04 18:51] RanadeepPolavarapu commented on #4
@vsoch I couldn't because GH didn't let me. If you want, add me as a contributor to https://github.com/vsoch/docker-orb and I can do so.

[2019-10-04 18:52] vsoch commented on #4
@RanadeepPolavarapu I don't think you provided full instructions, since your remote won't be added to my git config?

[2019-10-04 18:52] vsoch commented on #4
@RanadeepPolavarapu anyone can open a pull request to another individual's repository - you don't need to be a contributor. I'll look over the changes and then merge into my branch. I'd prefer doing this over the cherry pick kung fu.

[2019-10-04 18:54] vsoch commented on #4
Once you do the PR and we merge to the branch `add/docker-cache` it will update the PR automatically - this seems like the cleanest approach to take.

[2019-10-04 18:56] RanadeepPolavarapu commented on #4
Done. https://github.com/vsoch/docker-orb/pull/2

[2019-10-04 18:59] vsoch commented on #4
Why are there conflicts?

[2019-10-04 19:01] RanadeepPolavarapu commented on #4
@vsoch Your approach uses `when` conditions. Mine doesn't that's why the conflicts are appearing. You can reset your branch and conflicts will disappear. `git reset --hard origin/master && git push -f` then you can merge the PR with no conflicts.

[2019-10-04 19:01] vsoch commented on #4
If you start cleanly from the branch, make changes, and commit, there shouldn't be.

[2019-10-04 19:05] RanadeepPolavarapu commented on #4
Done. Conflicts resolved https://github.com/vsoch/docker-orb/pull/2 <https://github.com/vsoch/docker-orb/pull/2>.

[2019-10-04 19:09] vsoch commented on #4
okay we're combined! https://github.com/CircleCI-Public/docker-orb/pull/16 Take it away @KyleTryon

[2019-10-05 10:54] ankurjha21 commented on #50
@lokst could you assign this to me I would love to contribute on it

[2019-10-09 04:34] lokst commented on #59
@alaxalves Would you mind elaborating on how this relates to usage of the aws-ecr orb? It would be great if there is a CircleCI job you could link us to!

[2019-10-09 17:55] alaxalves commented on #59
This happens when I build and run this repository's Dockerfile and resulting container, respectively.

[2019-10-14 05:50] ankitjain28may commented on #50
@lokst Is there any way to define the variable globally?

[2019-10-18 15:29] tarikdem opened #64 "When setting 'path' parameter 'dockerfile' parameter is also needed"
### Orb version

6.0.6
### What happened

I tried building and pushed an image to ECR which is in a subfolder in my repo by providing the `path` parameter (`path: './dir'`). That failed with:

[code]

It worked only when I added both `dockerfile: './dir/Dockerfile` and `path: './dir'`

### Expected behavior

Ideally, just by setting the path parameter the Docker context including Dockerfile should

[2019-10-25 11:36] dkarp0 opened #67 "Add parameter to allow docker layer caching"
## What would you like to be added
Add parameter to allow docker layer caching
[code]
## Why is this needed

When using a custom docker executor, setup_remote_docker is most useful when you can enable docker_layer_caching to speed up builds. This parameter is `false` by default, so we should have a way to enable it in the orb parameters. Otherwise it's impossible to enable when using this orb.

[2019-10-28 21:31] dankarpinski commented on #67
found a way to do this using the machine executor:
[code]

[2019-11-08 08:01] lokst commented on #25
@vinyoliver I would recommend using `pre-steps` to set the value of `TAG_VERSION`. (See: https://circleci.com/docs/2.0/reusing-config/#using-pre-and-post-steps)

[2019-11-08 08:01] #25 closed

[2019-11-29 08:21] akash-rajput opened #74 "Now way to pass env/args to the docker file?"
## What would you like to be added
There should be a way to pass args for the build being generated. Currenty cannot find such documentation for the same. If there's a way please point out.

## Why is this needed

We need to pass the sensitive data from env to args for the docker builds.

[2019-12-08 09:51] oshri opened #75 "ERROR IN CONFIG FILE"
### Orb version

### What happened
I config the aws-ecr like in the demo, and i get that error

#!/bin/sh -eo pipefail
# ERROR IN CONFIG FILE:
# [#/workflows/build_and_push_image] only 1 subschema matches out of 2
# 1. [#/workflows/build_and_push_image/jobs/0] 0 subschemas matched instead of one
# |   1. [#/workflows/build_and_push_image/jobs/0] 12 schema violations found
# |   |   1. [#/workflows

[2019-12-08 09:54] oshri commented on #75
I found the issue, ident :)

[2019-12-08 09:54] #75 closed

[2019-12-08 09:56] oshri opened #76 "Missing required argument(s): repo"
### Orb version

workflows:
  version: 2
  build_and_push_image:
    jobs:
      - aws-ecr/build-and-push-image:
          account-url: AWS_ECR_ACCOUNT_URL
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          context: myContext
          create-repo: true
          dockerfile: Dockerfile
          path: ./dir
          profile-name: circle

[2019-12-08 19:54] sampsonbryce opened #77 "Add Support For Buildkit"
## What would you like to be added

Docker 19.03 now supports buildkit which can be activated by setting the environment variable `DOCKER_BUILDKIT=1` before running the `docker build` command. https://docs.docker.com/develop/develop-images/build_enhancements/

I have not found a way to do this so I am assuming it is not possible with the current orb. Correct me if I'm wrong please :)

## Why is th

[2019-12-12 06:51] lokst commented on #76
@oshri Could you SSH into a rerun of the job and check the value of $AWS_REPO?

[2019-12-13 16:10] adamrp commented on #67
But how do you use DLC with a _custom docker executor_ as your original question stated? e.g., if my config.yml file looks something like this:
[code]
The only argument that `setup-remote-docker` accepts is a Boolean (`true` in this case), correct? and the `docker` executor type doesn't have a parameter for enabling DLC?

[2019-12-14 16:12] sampsonbryce commented on #77
I figured out how to do this. You need to explicitely tell circle to give you the right version of docker that supports buildkit. The default one (at the time of writing) does not allow buildkit. You cannot use the `setup-remote-docker` param on the orb commands because it doesn't allow you to specify the docker version so you just do it yourself before you call the command.

You can find docker v

[2019-12-14 16:12] #77 closed

[2019-12-16 11:22] dankarpinski commented on #67
Luckily wasn't necessary for my needs. It isn't possible now with a custom docker executor.

[2019-12-18 20:21] iynere commented on #67
@dankarpinski is there a reason you closed your PR back in October? we just merged a similar change to our Docker orb:

https://github.com/CircleCI-Public/docker-orb/pull/44

feel free to re-open or open a new PR and we will get it merged ASAP—thanks !

[2019-12-26 20:41] sparta-developers commented on #64
We are also experiencing this. We are on version 6.6.0

[code]

Looking at the [docker docs](https://docs.docker.com/engine/reference/commandline/build/#specify-a-dockerfile--f), it looks like the dockerfile parameter is distinct from the other path parameter.

[code]

For what it's worth, we followed @tarikdem's suggestion and it worked for us.

[2019-12-26 21:35] iynere commented on #64
thanks @tarikdem @sparta-developers ! looks like [this orb's `build-image` command](https://github.com/CircleCI-Public/aws-ecr-orb/blob/master/src/commands/build-image.yml) needs to be updated to match how we code this in our Docker orb:

https://github.com/CircleCI-Public/docker-orb/blob/master/src/commands/build.yml#L107-L119

feel free to submit a PR, should be fairly straightforward, otherwise

[2019-12-27 19:30] iynere commented on #64
patched in `circleci/aws-ecr@6.7.0`

[2019-12-27 19:30] #64 closed

[2020-01-09 20:52] KyleTryon commented on #30
Hello @hwaxxer,

Can you point to which documentation you are referring to?

In the orb documentation for the `build-and-push-image` command the `repo` parameter description reads `Name of an Amazon ECR repository`.

This is not the only "required" parameter in the sense that it is all that needs to be supplied. Many of the other parameters simply have pre-defined values but are still required.

A

[2020-01-10 03:45] lokst commented on #50
@ankitjain28may Currently there's no straightforward way to do it, but putting the value in a file and attaching it to a workspace is one way to share it with downstream jobs.

[2020-01-10 14:41] KyleTryon commented on #39
The String environment interpolation was a convention we used to use around the time of the launch of orbs as we did not yet have the much safer `env_var_name` parameter type.
https://circleci.com/docs/2.0/reusing-config/#environment-variable-name

This Orb is due for an overhaul to bring us up to date with the latest best practices and design behaviors. https://circleci.com/docs/2.0/orbs-best-pra

[2020-01-16 19:48] ghostsquad commented on #39
Yes please. A naming convention would also help. `account-url` sounds like I should provide an account url, not an environment variable name that points to the account url.

example: account-url-env
    and: account-url

and you can provide either or, if you provide both, maybe the `account-url` takes precedence, or an error is thrown.

[2020-01-16 19:52] ghostsquad commented on #39
urls aren't secret. passwords are secret. So this makes perfect sense for the accesskey and secretkey. But not the other values.

[2020-01-16 20:08] ghostsquad commented on #30
I also noticed that some of the parameters have a default value, but are still "required" which completely negates the default value.

[2020-01-16 20:12] ghostsquad opened #79 "Missing required argument(s): account-url (SOLVED)"
... ignore. sorry. somehow I copied the wrong orb version

[2020-01-16 20:16] #79 closed

[2020-01-23 05:58] mvxt commented on #76
Hi @oshri if you check the documentation on the Orb page in the registry (https://circleci.com/orbs/registry/orb/circleci/aws-ecr#commands-build-and-push-image) the "repo" parameter for the job is expected to be a direct string, not an env_var_name type.

So if your repo is named my-test-repo, then the parameter should be:
[code]
Please give that a try and see if you can get it working. Everything

[2020-01-23 06:00] mvxt commented on #76
If you'd rather use the repo name that you've stored in your $AWS_REPO variable, then put the whole string in there with dollar symbol:
[code]

When the orb runs, it will interpolate the entire $AWS_REPO into the command, which will then call on the value of the variable in your environment.

[2020-01-30 16:32] eddiewebb commented on #9
@hollyhutson - thanks for the additional info, but the ECR login command uses this AWS command which does not support profiles - https://docs.aws.amazon.com/cli/latest/reference/ecr/get-login.html

Profile is specified at the time AWS CLI is configured by the underlying AWS orb.  https://github.com/CircleCI-Public/aws-ecr-orb/blob/master/src/commands/build-and-push-image.yml#L127

@jeffnappi / @ho

[2020-01-30 16:41] eddiewebb commented on #4
https://github.com/CircleCI-Public/docker-orb/pull/27 addresses this.

[2020-01-30 16:41] #4 closed

[2020-01-30 16:43] eddiewebb commented on #23
Closing this as seems API has changed since reporting, and `aws-access-key-id` and `aws-secret-access-key` will be properly used if overriden from default env var names.

[2020-01-30 16:43] #23 closed

[2020-02-03 22:23] marianobrc commented on #47
I'm having the same issue here.

I'm trying to build and deploy a docker container to AWS ECR / ECS.

I just started with circle ci, so I went through the steps in this tutorial
https://circleci.com/docs/2.0/ecs-ecr/#section=deployment

I added .circleci/config.yml file to my repo and copied exactly the content of the "Full configuration file" shown here.
https://circleci.com/docs/2.0/ecs-ecr/#ful

[2020-02-07 13:29] tomas-stefano opened #81 "Base build image from private ecr to push to another ecr"
### Orb version

6.7.0

### Description

I am changing my app to use a base build image from a aws ecr private repo and then after running everything pushes the app image to another ecr.

I read the documentation in using private aws ecr [here](https://circleci.com/docs/2.0/private-images/) and everything worked on the apps that don't use the orb to push to another instance. The only one that uses

[2020-02-07 17:08] tomas-stefano commented on #81
The interesting part is that if I change the orb to:

[code]

Then getting the build image (solves the problem above) but then it generates another error:

Spin the environment works and solves the problem above:

[code]

But then it generates another problem:

[code]

So a conflict is definitely happening and it look like a bug to me.

### What should happen

The build step should use the base bu

[2020-02-07 17:11] tomas-stefano commented on #81
Something that can help to replicate:

I removed the default env vars in the project settings: AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, AWS_ECR_ACCOUNT_URL

because both use the private ecr image as base build and the build-and-push will conflict with the default (even if I specified different env vars in the yaml itself).

[2020-02-11 13:54] temidevops opened #83 "Docker build error - invalid argument "/*****************:latest" for t: invalid reference format"
### Orb version
6.7.0

### What happened

build-and-deploy is failing on "build docker image":

[code]

Config:

[code]

Link to failing build: https://app.circleci.com/jobs/github/ROBOTEAM-HOME/web-platform/42

### Expected behavior

Docker build completes successfully.

[2020-02-11 13:56] temidevops commented on #83
Config:

`      - aws-ecr/build-and-push-image:
          executor: default_exec
          account-url: AWS_ECR_ACCOUNT_URL
          region: AWS_REGION
          repo: temi-web-platform
          tag: latest
          requires:
            - test
          context: temi-web-platform-global
          filters:
            branches:
              only:
                - integration
                -

[2020-02-11 15:04] #83 closed

[2020-02-15 00:32] ExternalReality commented on #39
While I agree with that url should not be secret, it is also the case that the URL can be derived directly from the region and the account id. The orb, already having requesting the region as a parameter, should simply request the account_id and construct the url internally form that information.

[code]

The above is enough information to construct the url.

https://docs.aws.amazon.com/AmazonECR/

[2020-02-15 00:36] ExternalReality opened #84 "AWS ECS URL parameter is redundant"
## What would you like to be added

 the URL can be derived directly from the region and the account id. The orb, already having requesting the region as a parameter, should simply request the account_id and construct the url internally form that information.

[code]

The above is enough information to construct the url.

https://docs.aws.amazon.com/AmazonECR/latest/userguide/Registries.html

# Wh

[2020-02-17 18:12] ExternalReality commented on #84
While account id alone would be more convenient it would bar custom URLs. I would suspect a combination of allowing for a custom url and an account ID, where a supplied custom url would override the default url constructed with the account ID would be a good trade off.

[2020-02-18 22:58] sparta-developers commented on #9
@eddiewebb We actually experimented with this and we can in fact pass `--profile`. The command is not specific to ECR `get-login`, but rather is picked up by the AWS CLI: https://docs.aws.amazon.com/cli/latest/reference/index.html#cli-aws

For clarity, we invoked the ECR get-login command from the build and push image step referenced here: https://github.com/CircleCI-Public/aws-ecr-orb/blob/master

[2020-02-19 17:46] eddiewebb commented on #9
Thank you @sparta-developers - that makes good sense.

we would love a PR, I see 2 paths, though you ,might see others

1) add profile as specific parameter.  This follows an established convention and addresses immediate need.
2) add a generic `arguments` to the command that could include --profule or other things.

#2 is more future proof but deviates from known patten, so #1 still feels like a

[2020-03-03 17:07] chrisgilmerproj opened #86 "Allow folks to disable AWS CLI installation and choose AWS CLI version"
## What would you like to be added

I am already running a docker image with AWS CLI v2 installed. Using this orb causes AWS CLI v1 to be installed. While the AWS CLI v2 does change the login procedure I feel like a switch statement could fix that.

I envision this change:

[code]

The default for `install-aws-cli` could be set to `true` which maintains backward compatibility. The default for `aws

[2020-03-04 13:13] lokst commented on #86
@chrisgilmerproj Thanks for the feedback! We'll be looking into how we can better support aws cli v2 users.

[2020-03-04 16:54] chrisgilmerproj commented on #86
Thanks! I appreciate any work you do on this. Also, your module is otherwise flawless and has really helped my project out so we're grateful for your efforts.

[2020-03-10 18:55] Nyefan opened #88 "aws-cli installation fails when .python-version is set in repo"
### Orb version

6.7.0

### What happened

The ecr/build-and-push-image is called with minimal parameters (repo, create-repo, tag, and region).  A `.python-version` file specifies the python version to use during the execution of the Dockerfile commands (which is included in the base image).  The `Install AWS CLI` step fails with the following message:

[code]

[code]

### Expected behavior

The .

[2020-03-11 03:50] lokst commented on #88
@Nyefan It seems to be the behaviour of `pip` to use pyenv which would pick up on the `.python-version`. Could you configure the job with [`pre-steps`](https://circleci.com/docs/2.0/reusing-config/#using-pre-and-post-steps) to remove the `.python-version` file as a workaround?

[2020-03-14 23:31] andheiberg-gelato opened #89 "Building with multiple tags broken"
### Orb version

6.2.0

### What happened

[code]

Results in:

[code]

### Expected behavior

Docker build should succeed and the command produced should be:

[code]

### Context

I guess it's the escaping done here https://github.com/CircleCI-Public/aws-ecr-orb/blob/master/src/commands/build-image.yml#L47

When I try locally it works just fine:

[code]

So the bash is valid and works. My conclus

[2020-03-16 10:56] Nyefan commented on #88
This works, but it still seems kludgey to me - is there a reason aws-cli has to be installed *after* the repo is checked out?

[2020-03-19 09:08] sakthivel-tw commented on #83
@temidevops We are getting the same issue. Is there any workaround for this ?

By default we are providing `tag: latest` and it fails.

[2020-03-24 16:05] SinghJ3 opened #90 "Getting error while creating ECR repository using circleci aws-ecr orbs for .NET Framework legacy application"
### Orb version

  **aws-ecr:** circleci/aws-ecr@6.7.0

### What happened

I am using **aws-ecr** obrs to build docker image, create an ECR repository if doesn't exist and push that docker image to ECR repository for **.NET Framework legacy application**. It is executing fine till the step of **Build docker image**. When it is trying to create an ECR repository, it is breaking at this step. It is

[2020-03-25 08:04] lokst commented on #90
Hi @SinghJ3 I understand that our Support team is looking into this issue with you. It looks like the problem is due to the aws CLI version installed by `aws-cli` orb not being in the PATH, leading to an older, preinstalled aws CLI version which does not support the `--image-scanning-configuration, scanOnPush=true` options being used.

We plan to update the `aws-cli` orb to support aws CLI v2 soon

[2020-03-25 08:07] lokst commented on #88
@Nyefan I don't think it has to be, and changing the installation order sounds like a good solution to this, thank you. I'll post updates here after trying that out.

[2020-03-26 16:36] taurelius opened #91 "Support AWS_DEFAULT_REGION environment variable by default"
## What would you like to be added

Change the default region environment variable value to  `DEFAULT_AWS_REGION` from `AWS_REGION`

## Why is this needed

The orbs current default doesn't match up with the AWS CLI or the AWS CLI orb, meaning when using them both together, one of the default parameters has to be overridden (or they both need to be set).

It looks like this change was made a while

[2020-03-26 19:26] taurelius commented on #91
Just doing further reading and it looks like `AWS_REGION` is back in [AWS CLI v2](https://github.com/aws/aws-cli/pull/4934) so understand if this is left for now if v2 support is in the works - though I would argue while the orb is based on v1 it should use `AWS_DEFAULT_REGION`.

Whatever the case though it would be nice to have the CLI and ECR orbs aligned.

[2020-03-27 11:04] n-batalha commented on #74
Not a maintainer, but while initially thought I had this, it this seems a duplicate of https://github.com/CircleCI-Public/aws-ecr-orb/issues/5 resolved by https://github.com/CircleCI-Public/aws-ecr-orb/pull/8.

You need to use this new param `extra-build-args` to set `--build-arg ...` and set `ARG` variables in your Dockerfile.

[2020-03-29 17:17] emvaldes commented on #22
aws ecr describe-repositories --query 'repositories[?repositoryName==`hello-world`]'

[2020-03-30 09:58] sebdec opened #93 "Wrong login docker with multiple workflows and account urls:"
### Orb version

6.7.1

### What happened

command: build-and-push-image

**1) workflow A**
parameters : account-url: A_AWS_ACCOUNT_URL
RUN  : OK

**2) workflow B**
parameters : account-url: B_AWS_ACCOUNT_URL
RUN:
- Log into Amazon ECR : retrieve login docker from the **workflow A** (in cache maybe)
- it doesn't login with the specified account url (B_AWS_ACCOUNT_URL)
- docker push: **FAIL** : no

[2020-03-30 10:36] sebdec commented on #93
after more investigation: this issue is probably related with https://github.com/CircleCI-Public/aws-ecr-orb/pull/85/files.
Then, if the profiles can resolve that, I don't understand the utility of the ecr-login-for-secondary-account command.

[2020-03-31 04:25] lokst commented on #9
@sparta-developers Thank you for your contribution on this issue! We have just released `circleci/aws-ecr@6.8.0` based on your PR and hence will be closing this issue, and would encourage anyone who was following this issue to try out the new version!

[2020-03-31 04:25] #9 closed

[2020-03-31 04:34] lokst commented on #53
@foo-tw Hi, apologies for the great delay in response. We have just resolved issue #9 , would you mind trying out `circleci/aws-ecr@6.8.0`  to see if it works for you? Please feel free to reopen the issue if it is still an issue for you.

[2020-03-31 04:34] #53 closed

[2020-03-31 08:04] lokst commented on #93
@sebdec https://github.com/CircleCI-Public/aws-ecr-orb/pull/85 has been merged, would you like to try using `circleci/aws-ecr@6.8.0` ? As for the `ecr-login-for-secondary-account` command, I believe this was implemented some time ago and may need reviewing if it still has utility.

[2020-03-31 09:44] lokst commented on #74
Apologies for the delay in response @akash-rajput. @n-batalha 's suggestion sounds like a good one to me. Let us know if it helps!

[2020-03-31 09:47] lokst commented on #76
Closing this due to inactivity

[2020-03-31 09:47] #76 closed

[2020-03-31 10:19] lokst commented on #89
@andheiberg-gelato We have a test case for building with multiple tags, which looks to be passing: https://github.com/CircleCI-Public/aws-ecr-orb/blob/master/.circleci/config.yml#L64

Could you try upgrading to version `6.8.0` and let us know if you still encounter the issue?

[2020-04-01 14:15] sebdec commented on #93
Thank you @lokst,  It works well !
I close the issue

[2020-04-01 14:15] #93 closed

[2020-04-07 08:26] andheiberg-gelato commented on #89
@lokst this does appear to work. Thank you 👍

[2020-04-07 08:26] #89 closed

[2020-04-08 12:10] #74 closed

[2020-04-09 21:15] markrity opened #95 "[Feature Request] Parameter to choose if to install aws/cli or not."
## Parameter to choose if to install aws/cli or not.
[code]
## Why is this needed

I want to be able to skip this step , since it executed on every build and push, sometimes you have already done a aws-cli/setup or already pushed an image at step before and its just waste of time to instsall it again.
I know that there is a step to check if there is an aws already installed.
But when I use latest

[2020-04-18 17:47] silasb opened #97 "Document extra-build-args"
## What would you like to be added

Documenting extra-build-args.

## Why is this needed

I had to hunt through Issues/PRs to find out that this exists.

[2020-04-26 10:17] davidmusgrove opened #98 "Log into Amazon ECR step uses removed AWS subcommand"
### Orb version

6.8.2

### What happened

A CircleCI workflow using this orb has started failing in the last day or so, seemingly because the "get-login" subcommand on "aws ecr" has moved from deprecated to absent. Although this gives an exit code of 0 so the step shows as passed, it causes the subsequent push step to fail.

### Expected behavior

It should work as published, the login should wor

[2020-04-30 05:41] lokst commented on #97
@silasb Thank you for your feedback. The `extra-build-args` parameter is also documented in the orb registry: https://circleci.com/orbs/registry/orb/circleci/aws-ecr

[2020-05-07 11:26] PavlosMelissinos commented on #67
@dankarpinski I have the same question as @iynere

I'd appreciate it if the PR could be merged!

[2020-05-30 15:29] bpatton00 opened #103 "Please update the aws-cli ref"
The reference is to a very old version of aws-cli which doesn't seem to have the correct detection built in for aws-cli/install  .

Please peg this to the circleci official 1.0 version?

orbs:
  aws-cli: circleci/aws-cli@0.1.13

[2020-06-10 11:23] Kolvin commented on #84
+1

[2020-06-12 14:16] #98 closed

[2020-06-18 22:39] PauloCabral-internations commented on #98
HI!

It's not possible to use docker login with --no-include-email parameter anymore?
Can you explain the reason why you change this?

Thank you

[2020-06-30 08:40] alex-hsp opened #104 "AWS_ECR_ACCOUNT_URL usage makes invalid docker image"
### Orb version

6.9.1

### What happened

With the new update, AWS_ECR_ACCOUNT_URL is used by aws cli login command and requires https:// at the beginning of AWS_ECR_ACCOUNT_URL. But AWS_ECR_ACCOUNT_URL is also used to assemble docker image tag like `$<<parameters.account-url>>/<<parameters.repo>>:${tag}`. This https:// at the beginning makes tag invalid.

### Expected behavior

The way AWS_ECR_A

[2020-06-30 09:05] lokst commented on #104
Hi @alex-hsp , are you referring to the `ecr-login` command of the orb? I don't think you need to specify "https" in the value of `AWS_ECR_ACCOUNT_URL `for the login to work.

Looking at the example in the aws docs at https://docs.aws.amazon.com/AmazonECR/latest/userguide/Registries.html, we can see that "https" is not needed:

[code]

[2020-06-30 09:23] alex-hsp commented on #104
Indeed. Using project env var with login url without https:// and specifying its name as account-url param for build-and-push image  job worked for me. Thanks!

[2020-06-30 09:23] #104 closed

[2020-07-06 09:50] gmemstr commented on #81
Hi Tomas,

This would indicate the value passed should be the plaintext name of the environment variable, without the leading `$` - e.g AWS_PUSHED_IMAGE_ACCESS_KEY_ID. I'm not entirely sure if this is a bug with the Orb, but give that a shot and we'll take it from there :)

[2020-07-06 10:11] gmemstr commented on #88
Installing the CLI before checking out the repository would resolve this issue - it's very common to have the checkout step execute first in the job, but it doesn't have to be. I'm going to go ahead and close this issue, since it isn't directly related to the orb, but feel free to reopen if you feel we should dig in a bit deeper :)

[2020-07-06 10:11] #88 closed

[2020-07-06 10:19] gmemstr commented on #50
One _could_ trigger a pipeline using our API to pass through pipeline parameters as well (https://circleci.com/docs/api/v2/#trigger-a-new-pipeline), which would eliminate the need to use a workspace file. This is how our own orbs trigger integration testing, since we need to publish a development version of an orb with the git commit hash in the version string. I'm not entirely sure this could be

[2020-07-06 10:25] #103 closed

[2020-07-06 10:33] gmemstr commented on #27
I second this, going to take a look at what it would take to implement this for orbs across the board. As it stands now, it's definetly "best guess" when it comes to what's changed between versions, especially within the orb registry itself.

[2020-07-06 11:06] gmemstr commented on #59
The Docker image included in the repository is only intended to be used in the integration testing, and does nothing on it's own. That said, I think it could do with some tweaks to make it more generic, since we don't care much about the image.

[2020-07-06 12:35] gmemstr commented on #51
I don't know if this addition neccesarily makes sense in the context of the orb - you might be better served with a goss orb (if one exists) with the `build-image` command, which could either be in a job before the `build-and-push-image` workflow or be in a job that uses the `ecr-login` and `push-image` commands. Unless we see a number of requests for this, I don't think it's a good fit, especiall

[2020-07-06 12:36] #59 closed

[2020-07-06 14:43] gmemstr commented on #30
As per https://github.com/CircleCI-Public/aws-ecr-orb/pull/31, this was fixed in `4.0.3`, and is accurate in the documentation now. If you find this is not the case, feel free to reopen!

[2020-07-06 14:43] #30 closed

[2020-07-24 11:07] gmemstr commented on #90
@SinghJ3 We recently updated this orb to support the v2 of the AWS CLI, can you confirm whether or not you are still experiencing this issue with the latest version of the orb?

[2020-07-24 11:41] gmemstr commented on #97
Given this is document due to the nature of the orb registry listing, I'm going to close this issue. Feel free to open a PR if you feel the documentation could be done better :)

[2020-07-24 11:41] #97 closed

[2020-07-24 11:43] gmemstr commented on #86
@chrisgilmerproj The v2 of the AWS CLI should now be installed by default, curious if you believe it's worth keeping this open for the feature of picking the version or disabling installation.

[2020-07-24 11:51] gmemstr commented on #91
The orb has been updated to use v2 of the AWS CLI by default, so going ahead and marking this as closed :) Feel free to reopen if you feel this is something we should look into further.

[2020-07-24 11:51] #91 closed

[2020-07-24 11:54] gmemstr commented on #95
While the orb now installs v2 by default, this is something I'm seeing a few issues about. Looking into implementing a boolean flag for installing the CLI.

[2020-07-24 16:03] gmemstr commented on #95
Closing to track progress in #86

[2020-07-24 16:03] #95 closed

[2020-07-24 16:17] KyleTryon commented on #51
Also of the opinion a "goss" orb may be the more flexible solution. It doesnt appear any "Goss" orbs have been created yet but may be a good candidate 👍

[2020-07-24 16:26] chrisgilmerproj commented on #86
This is great news! I would absolutely like to control the version as we have run into issues in the past having the CLI our devs use being out of sync from what CircleCI has. So any work on that would be helpful.

[2020-07-27 08:46] #51 closed

[2020-07-28 16:40] aaron-trout opened #109 "AWS CLI gets installed twice"
### Orb version

6.12.0

### What happened

AWSCLI gets installed twice

<img width="596" alt="Screenshot 2020-07-28 at 17 33 16" src="https://user-images.githubusercontent.com/2394679/88695205-77966300-d0f9-11ea-8f1f-2a5159da3df8.png">

### Expected behavior

It only gets installed once

[2020-07-31 09:03] #109 closed

[2020-08-10 11:04] idobry opened #111 "Adding layers caching"
## What would you like to be added
run builds with caching layers mechanism

## Why is this needed
builds' time redundancy is always something we should aim for

[2020-08-25 09:35] gmemstr commented on #111
@idobry CircleCI offers Docker Layer Caching - is this a seperate feature from this? https://circleci.com/docs/2.0/docker-layer-caching/

[2020-09-08 10:41] gmemstr commented on #27
This is a larger conversation internally and we hope to have more details to share soon!

[2020-09-08 10:41] #27 closed

[2020-09-16 22:00] nimishmistry opened #112 "Docker build error invalid argument "*****/repo:latest" for "-t, --tag" flag: invalid reference format"
### Orb version

6.12.2

### What happened

Step build-and-push-image fails during creation of docker image

[code]
### Config
[code]

### Expected behavior

Docker image should be successfully created.

[2020-09-17 04:54] jf commented on #50
Thank you for coming up with this, @toymachiner62 . I didnt even think that we could have a dynamic tag this way!!

I've improved upon this and fixed the way to keep the tag constant between the build and push steps:

[code]

This works and gives you a stable tag in the environment. Really all you need is a a stable tag between "Build docker image" and "Push image to Amazon ECR". The format of the

[2020-09-18 12:01] gmemstr commented on #111
Closing this issue since this is a feature of CircleCI, as mentioned above.

[2020-09-18 12:01] #111 closed

[2020-09-18 13:31] gmemstr commented on #90
Assuming this is resolved due to the 2.0 CLI, feel free to reopen if this is not the case.

[2020-09-18 13:31] #90 closed

[2020-09-28 09:47] dankarpinski commented on #67
Re-opened as a few people have mentioned demand. @iynere could you merge?

[2020-10-08 20:52] codebaard commented on #64
@tarikdem you saved my day. Had to deal with the exact same issue a whole day.

[2020-10-08 22:15] blimmer opened #114 "Allow passing DockerHub credentials to build-and-push-image job"
## What would you like to be added

It would be nice to have a way to easily run a `docker login` command as part of the `build-and-push-image` job.

## Why is this needed

Starting November 1, 2020, DockerHub will [begin rate-limiting image pulls from DockerHub](https://www.docker.com/blog/scaling-docker-to-serve-millions-more-developers-network-egress/). In my case, we need DockerHub access to b

[2020-10-10 18:11] unamashana commented on #112
@nimishmistry Make sure you aren't using https in the value for AWS_ECR_ACCOUNT_URL. It should work without https.

[2020-10-14 17:29] DrewTittle commented on #112
I am also having this issue, the AWS_ECR_ACCOUNT_URL env var doesn't have an http or https prefix but works fine for me.

The problem I'm seeing is when one of the tags has a / in it. I am trying to tag with the git branch and anytime the branch is feature/blabla I get this error.

[2020-10-18 21:53] a7i commented on #67
@dankarpinski I created a new PR which also conforms with the naming convention used for remote docker version (i.e. `remote-docker-version`). PR #116

[2020-10-23 15:26] owen-c opened #117 "push-image should have skip-when-tags-exist option"
## What would you like to be added

push-image has skip-when-tags-exist option, or maybe build-and-push-image should skip both the build and the push step when skip-when-tags-exist is true

## Why is this needed

My ECR repository is immutable, so if my workflow built and pushed the image, and failed elsewhere due to a transient error, I would like to be able to rerun the workflow and not have bui

[2020-10-29 10:26] gmemstr commented on #114
Given we require remote Docker for this, which is exempt from our partnership with Docker Hub (except for CircleCI images), this is something we should add https://support.circleci.com/hc/en-us/articles/360050623311-Docker-Hub-rate-limiting-FAQ

[2020-11-03 17:06] JeroenRijks opened #118 ".dockerignore files are ignored due to Docker version"
### Orb version

6.13.0

### What happened

The `build-image` command and anything that uses it completely ignores the `.dockerignore` file, creating a Dockerfile with files in it that it might not ought to have.

### Expected behavior

The `.dockerignore` file should dictate which files are ignored when building the Docker image.

### Discussion
The `build-image` command's source code shows that

[2020-11-08 23:56] rusowyler commented on #112
@DrewTittle in AWS_ECR_ACCOUNT_URL don't add the ending / neither the protocol. For example: "XXXXXXXXXXXX.dkr.ecr.us-east-2.amazonaws.com"

[2020-12-13 15:34] max-xsell opened #122 "Docker cache"
Hi

Somebody can help me with an example how i can configure the cache in the feature?

My file

`\`
version: 2.1

orbs:
  aws-eks: circleci/aws-eks@0.2.0
  aws-ecr: circleci/aws-ecr@6.15.0
  kubernetes: circleci/kubernetes@0.3.0

workflows:
  version: 2
  deployment:
    jobs:
      - aws-ecr/build-and-push-image:
          name: build-and-push-image
          account-url: AWS_ECR_URL
          r

[2020-12-13 17:45] max-xsell commented on #111
How we can integrate it with aws-ecr? Because the docker layer cache is inside of the steps.

[2020-12-14 06:37] christophersansone opened #123 ""build-and-push-image" command cannot be run within a Docker executor"
### Orb version

6.14.0

### What happened

I attempted to run `build-and-push-image` as a command, and it kept failing with a `cannot connect to Docker` error.  When I ran it as a standalone job, it worked.  I finally figured out the problem was that the command cannot be run within a job that uses Docker as the executor.  I changed the job to use a machine image (specifically `ubuntu-2004:202010

[2020-12-16 18:09] #86 closed

[2020-12-17 13:20] gmemstr commented on #122
@max-xsell Are you on our free plan at all? Docker layer caching is only available on Performance and Scale plans.

[2020-12-23 11:54] f440 commented on #114
ref. [\[semver:minor\] Setup Dockerhub authentication by djmilosev · Pull Request \#120 · CircleCI\-Public/aws\-ecr\-orb](https://github.com/CircleCI-Public/aws-ecr-orb/pull/120)

[2020-12-30 16:50] blimmer commented on #114
LGTM - thanks!

[2020-12-30 16:50] #114 closed

[2021-01-08 22:08] andrzpg12 opened #125 "tag invalid reference format"
### Orb version 6.15.0

This is my config file for build

[code]

The environment variables are: ECR_REGISTRY, AWS_REGION.

What is wrong in my job, anything i tried is returning:

[code]

[2021-01-08 22:56] andrzpg12 commented on #125
i need to tag my images always with "latest" and the CIRCLE_SHA1...
also i need to build-arg with 2 environment variables.. how is the correct syntax? is not enough claire in the doc

[2021-01-11 21:17] duffn opened #126 "skip-when-tags-exist does not use profile-name parameter"
### Orb version

[code]

### What happened

`skip-when-tags-exist` does not use the `profile-name` parameter correctly.

I am using a user in my originating account and that user is assuming a role in my destination account. This is setup in my AWS config with a profile.

[code]

When I have `skip-when-tags-exist` set in `aws-ecr/build-and-push-image`, I receive an error that the user in my origin

[2021-01-20 15:09] nonsense opened #128 "Support for AWS ECR public registries"
## What would you like to be added

At the moment when I try to authenticate with a public AWS ECR registry, I get the following error:

[code]

I've tried various options for `AWS_ECR_ACCOUNT_URL` env var, such as `public.ecr.aws/xxxxxxxx` or `public.ecr.aws`, but nothing seems to work.

I believe the reason is the use of `aws ecr`, instead of `aws ecr-public`, which is suggested by AWS when insp

[2021-01-22 14:45] jeremietharaud opened #129 "Add a step name during ECR repository creation"
## What would you like to be added
Hi all,

The name of the step that creates the ECR repository (build-and-push-image command) is missing.
Instead, we see something like this in the CircleCI web interface:

[code]

## Why is this needed

Improve readability of CircleCI workflows.

[2021-01-27 02:45] brunojcm opened #130 "Provide create-repo as a separate command"
## What would you like to be added

Currently, the `create-repo` option is available jus to `build-*` commands. I'd like it to be available as a separate command, or that `push-image` command also support the `create-repo` parameter.

## Why is this needed

We currently have a separate job to build docker images, so we use `aws-ecr/push-image` commands only and we would like to have repositories b

[2021-01-29 06:15] mark-ship-it opened #131 "Use standard environment variable for aws region"
### Orb version
6.15.2

### What happened
AWS_REGION is a standard environment variable in the AWS SDK.  However, I think for this orb, the convention is to use environment variables that are compatible with the aws cli

### Expected behavior
I believe AWS_DEFAULT_REGION should be the environment variable for region as defined here: https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-en

[2021-02-01 21:51] #126 closed

[2021-02-02 15:28] zlahham commented on #53
Hi @lokst, also trying to understand how to use the assume role as intended with this orb? I was not able to fully see how the profile-name is to be used here. As in where would I specify the config for a given profile (e.g. role arn) in order to use that profile's name in the orb?

[2021-02-09 13:50] max-xsell opened #133 "RUn command before"
Hi

I have to run a command before running it, I have to define the Dockerfile or edit it  depending on one file that was changed. Do you know if it possible?

[2021-02-14 12:16] SinghJ3 opened #134 "aws-ecr@6.15.3 orb failing to install aws cli"
### Orb version

aws-ecr@6.15.3
### What happened

I am using aws-ecr@6.15.3 orb to push docker image on ecr repo. But it is failing at "Install AWS CLI v2" step while using windows executor.

### Expected behavior

It should install AWS CLI v2

[2021-02-19 16:31] dsayling commented on #81
@tomas-stefano - I'm going to go ahead and close this issue assuming you were successful in following the tip from @gmemstr on setting the params without the `$`. Let us know here if you have any issues.

[2021-02-19 16:31] #81 closed

[2021-02-19 17:45] dsayling commented on #50
jf is definitely onto a usable solution, except that `run` can't be used in a list of jobs as defined in the initial comment. Anyone still stumbling upon this and wants to use the job, you can utilize a [pre-step](https://circleci.com/docs/2.0/reusing-config/#using-pre-and-post-steps) before the job. I believe this config should be sufficient.

[code]

[2021-02-19 17:45] #50 closed

[2021-03-12 09:48] elia commented on #125
Have you tried removing the space after the comma? `tag: '$CIRCLE_SHA1,latest'`

[2021-03-12 12:01] andrzpg12 commented on #125
yeah, after that i just delete $CIRCLE_SHA1 tag and work, but my question is if supports multiple tags, and how is the syntax of that.

[2021-03-16 10:27] andreialecu opened #135 "Allow skipping AWS CLI installation if already installed"
## What would you like to be added

This orb runs an aws-cli installation even if the cli was already previously installed by a previous job step.

A parameter like `install-cli: false` would be useful.

## Why is this needed

It results in unnecessary work which can slow workflows down a bit. It also reconfigures AWS credentials, which may mess up some setups.

Example workflow log:

<img width="

[2021-03-16 10:31] andreialecu commented on #86
@gmemstr I have an use case for disabling installation. I opened https://github.com/CircleCI-Public/aws-ecr-orb/issues/135 before finding this.

[2021-04-06 12:05] Spiroman commented on #134
Try upgrading the machine you run the CI on (upgrading which windows orb you're using).
We had the same issue, switching from ubuntu 16.04 to 20.04 fixed it.

[2021-04-06 15:45] mikedodd opened #136 "Aws cli install fails"
The executor is quite old and using this calls aws install to fail

File "/opt/circleci/.pyenv/versions/2.7.12/lib/python2.7/site-packages/pip/_vendor/pkg_resources/__init__.py", line 2956, in scan_list
    raise RequirementParseError(msg, line, "at", line[p:])
RequirementParseError: Expected ',' or end-of-list in rsa>=3.1.2,<=4.5.0; python_version=="2.7" at ; python_version=="2.7"
You are using p

[2021-04-06 15:52] JesusValera commented on #136
We are having exactly the same problem.

[2021-04-06 16:06] mattwedge commented on #136
Same here

[2021-04-06 19:00] mohsinzaheer25 commented on #136
I had this issue as well but updating the tag to v6.15.3 fixes the issue.

[2021-04-06 19:34] bkovacev commented on #136
Can confirm this has fixed it for us as well.

[2021-04-06 19:35] mohsinzaheer25 commented on #136
@bkovacev you welcome.

[2021-04-13 01:54] liaob88 opened #138 "Getting a warning message on docker login in build-and-push-image command"
### Orb version
[code]

### What happened
when I tried to login docker in `build-and-push-image` command by using `docker-login`, `dockerhub-username` and `dockerhub-password` parameters, this warning message was displayed.
[code]

### Expected behavior
we should use `--password-stdin` option in docker login command and remove this warning message.

[2021-04-16 19:54] KyleTryon commented on #136
Hello all,
This should be resolved by https://github.com/CircleCI-Public/aws-ecr-orb/pull/137
Please update your orb to version 7.0 and let us know if you continue to experience any issues. Thank you.
Special thanks to @JesusValera  for the PR

[2021-04-16 19:54] #136 closed

[2021-04-17 03:35] Quantisan opened #140 "Build multi-arch images"
## What would you like to be added

Enable building images with multiple architectures, i.e. amd64, arm64, etc.

See https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/

## Why is this needed

currently this orb builds to amd64 only.

[2021-04-28 19:13] danielsanfr commented on #136
In version 6.15.3 it works without problems.

![image](https://user-images.githubusercontent.com/3621711/116459583-64592500-a83c-11eb-8f8d-236b6aa4cf7f.png)

But when I upgrade to version 7.0.0, the following error happens:

![image](https://user-images.githubusercontent.com/3621711/116459473-3d9aee80-a83c-11eb-8241-6f002dd98e6e.png)

[2021-05-06 13:17] sibelius commented on #27
any progress on orb changelog?

[2021-05-13 22:28] danielsanfr commented on #136
Please, anyone can help me?

[2021-05-14 07:14] JesusValera commented on #136
Did you tried with a 6.x version just in case?

[2021-05-14 20:39] jherico opened #143 "Support BuildKit in the ECR orb"
## What would you like to be added

Support buildkit, either by adding a buildkit boolean parameter to the ORB, or by adding a mechanism to forward specific arbitrary environment variables to the ORB so that I can set `DOCKER_BUILDKIT=1` in my job and have it applied to the `docker build` execution.

## Why is this needed

Executing maven builds inside a docker container is time consuming because

[2021-05-16 00:04] danielsanfr commented on #136
Thanks @JesusValera for your answer.

As I said at the beginning of my comment https://github.com/CircleCI-Public/aws-ecr-orb/issues/136#issuecomment-828711895:

I don't know what I need to do.

[2021-05-16 08:10] JesusValera commented on #136
Ups, that's true I didn't notice.
I'm not sure but I think I have also the same problem.

Regarding your problem, do you really need the version 7?
If it's not the case, I would suggest you to keep the version 6.

[2021-05-19 09:25] rj93 opened #144 "Cannot perform an interactive login from a non TTY device"
### Orb version
7.0.0

### What happened
Attempting to use the aws-ecr/ecr-login command but I am getting the error:
[code]

I suspected this was because I was using a docker executor, but I tried changing the job use a machine but it still has the same issue.

Docker:
[code]

Machine:
[code]

### Expected behavior
It should log in successfully.

[2021-05-19 15:01] rj93 commented on #144
Turned out it was a permissions issue

[2021-05-19 15:01] #144 closed

[2021-05-27 10:17] bkovacev opened #145 "Cannot find a job named build-and-push-image"
### Orb version
7.0.0 and 6.15.3

### What happened
Yesterday everything was working fine, today we can't push the builds at all. Nothing has changed. The error messages says as follows:
[code]
### Expected behavior
It should build the image and push it to ECR.

[2021-05-28 05:43] takahash commented on #145
I tried it today and it worked!
What was it?

[2021-06-07 17:35] alex-hladun commented on #145
Make sure you are using version 2.1. This is also impossible to diagnose without posting your config.yml

[2021-06-07 17:38] bkovacev commented on #145
@alex-hladun I'm unsure how it's impossible to diagnose without my `config.yml` - as it worked flawlessly for over a year then suddenly stopped working over night and then restored itself without any interference. Also, I'm not the only one.

I am and have been using version 2.1. Also, there was no change in the `config.yml`.

I'll close this as a one-off.

[2021-06-07 17:38] #145 closed

[2021-06-07 18:48] alex-hladun opened #146 "Problem with extra-build-args in aws-ecr/build-and-push-image"
### Orb version
circleci/aws-ecr@7.0.0

### What happened

![image](https://user-images.githubusercontent.com/57810269/121072415-6d6bd900-c78e-11eb-960f-56708a4ad857.png)

My config:
[code]
### Expected behavior

Should build with secrets file

[2021-06-08 13:55] glenwinters opened #147 "Add multi-region example"
## What would you like to be added

It would be nice to have an example for building an image and pushing it to multiple ECRs (e.g. in different regions).

## Why is this needed

It's not immediately obvious how to do this because the docker login, build, tag, and push are bundled together. Even using the sub-commands, I don't think you can tag the image with two separate full ECR URLs without bui

[2021-06-10 08:55] innomatics opened #148 "Docker Layer Caching not working with arm64 machine executor"
### Orb version 7.0.0

### What happened

Am running a performance plan with a machine executor (arm.medium).  Have tried to configure DLC in the executor and job, but the cached layers aren't being used in my builds.

The DLC credits are being deducted in my plan usage :(

### Expected behavior

When re-running a build I should see messages
[code]

### Representative config
[code]

[2021-06-15 04:07] LLemeLopes commented on #125
For me, this worked.

[2021-06-16 16:16] diclophis commented on #143
Having buildkit support is crucial for my use-case, see also:https://github.com/CircleCI-Public/cimg-base/issues/110

[2021-07-02 06:17] liaob88 commented on #138
#139 is closed, so i will also close this issue.

[2021-07-02 06:17] #138 closed

[2021-07-14 03:07] innomatics commented on #148
Bumping as this is still an issue for us

CircleCI support have emailed me a few times times that it's fixed but it doesn't work for my account on this example repo: https://github.com/the-volte/dlc

@iynere or anyone if you have time to reproduce it might help move things along.

[2021-07-22 17:18] felicianotech opened #150 "Use 1st part orb badge service"
This should switch from my 2nd party badge service to the official one.

[2021-08-03 07:48] macieyng opened #151 "Proper error messages"
### Orb version

7.0.0

### What happened

I had this [job](https://app.circleci.com/pipelines/github/netguru/dj-cf-backend/21/workflows/d278697a-82a6-4f6f-aebb-d4655dbe81f4/jobs/78) that had an issue. Error message was telling me that `error authentication with ECR: MissingRegion: could not find region configuration`. After few hours of debugging it turned out that there was no issue with the reg

[2021-08-09 10:53] gmemstr commented on #151
@macieyng This doesn't appear to be related to this orb, but rather with CircleCI itself. I'll check internally to see what this is about.

[2021-08-16 16:53] vatima2016 opened #152 "Do not run docker login if amazon-ecr-credential-helper is installed"
### Orb version

7.0.0

### What happened

The ORB fails if a credential helper is installed, for example amazon-ecr-credential-helper.

[code]

### Expected behavior

This line should not be run at all if amazon-ecr-credential-helper is installed:
`aws ecr get-login-password --region $AWS_DEFAULT_REGION --profile default | docker login --username AWS --password-stdin $AWS_ECR_URL`

See https://gi

[2021-08-23 14:15] #130 closed

[2021-08-23 23:30] brunojcm commented on #130
Thanks!

[2021-08-24 16:11] nairb774 opened #155 "7.1.0 and 7.2.0 tags missing"
### Orb version

7.1.0 and 7.2.0

### What happened

According to https://circleci.com/developer/orbs/orb/circleci/aws-ecr there is a 7.1.0 and a 7.2.0 release, but those tags seem to be missing from the repository. Would it be possible to get them pushed, and/or release notes generated?

![image](https://user-images.githubusercontent.com/128795/130651882-7c13f305-03e8-41c7-840d-21d430330db2.png)

[2021-08-31 19:22] jacky-ho-numerator opened #156 "`get-login-password` deprecated in the latest AWS CLI"
### Orb version

7.2.0

### What happened

https://app.circleci.com/pipelines/github/infoscout/nmr-survey-dbt/9/workflows/faabe924-7371-4029-90a8-196bbc3f6bd7/jobs/12/parallel-runs/0/steps/0-104

[code]

One of the steps of the orb is to install the latest AWS CLI (I'm guessing) and in the latest version, `get-login-password` is no longer available. Should we switch to `get-login`?

### Expected b

[2021-09-01 15:55] #156 closed

[2021-09-01 16:38] Jaryt opened #157 "Add dependant parameter detection"
## What would you like to be added

Any parameters that require one another to be executed, should inform the user when a dependent parameter is used but the parameter it depends on is not.

Specifically: `remote-docker-layer-caching` depends on `setup-remote-docker`

## Why is this needed

This will create a better user experience as verbose output would inform the user of an error in their confi

[2021-09-10 03:12] zackssssss opened #158 "Add param role-arn in ecr login"
## What would you like to be added

I want to add role-arn parameters for using AWS STS.

## Why is this needed

Without role-arn, I can't assume-role for STS and would occur this problem as below. If there is any other ways to resolve this problem, plz give me some information, I really appreciate it!

![image](https://user-images.githubusercontent.com/33366770/132793422-91f1f335-2dc7-40ff-97fd-c

[2021-10-07 23:39] diclophis commented on #143
@jherico any luck on sorting this out?

Is there anything I can help with?

[2021-10-08 19:02] jherico commented on #143
@diclophis I've simply disabled the ECR scanning component in the images where I need to use the build kit, because we only use ECR for scanning, and Dockerhub for hosting images, so I can work around it.

[2021-10-14 12:26] ishii1648 opened #161 "Add param build-context-path in build image"
## What would you like to be added

I want to add build-context-path parameters to support Dockerfile that is no located in root directory.

## Why is this needed

I often located Dockerfile in no root directory like bellow.

[code]

I can't build docker images in this case, because there is only path parameters(Path to the directory containing your Dockerfile and build context) in aws-ecr-orb.

I

[2021-10-28 08:23] dantetwc opened #162 "Docker Multi-arch support"
## What would you like to be added

Docker Image build with ARM64

## Why is this needed

Since AWS offers ARM server with lower cost and better performance, it is sensible for this orbs to also support ARM Docker image building

[2021-11-05 12:45] gmemstr commented on #162
@dantetwc Would you mind elaborating a bit? Have you attempted to build an ARM image and encountered an error? If so, how would you hope this orb better accommodates this use case? Given CircleCI does not offer ARM execution environments at the moment, is cross-arch building something that can be accomplished?

[2021-11-08 14:27] Bash-mocart opened #163 "An error occurred (UnrecognizedClientException) when calling the GetAuthorizationToken operation: The security token included in the request is invalid. Error: Cannot perform an interactive login from a non TTY device"
### Orb version
circleci/aws-ecr@7.2.0

### What happened

Log into Amazon ECR in the workflow aws-ecr/build-and-push-image isnt passing

### Expected behavior
Should be able to run without any trouble

[2021-11-08 14:36] Bash-mocart opened #164 "AWS ECR should be logged in successfully without the error "Error: Cannot perform an interactive login from a non TTY device""
## What would you like to be added

aws ecr get-login-password --region $AWS_DEFAULT_REGION --profile default | docker login --username AWS --password-stdin $AWS_ECR_URL
this fails with the latest version of awscli
docker login -u AWS -p $(aws ecr get-login-password --region $AWS_DEFAULT_REGION) $AWS_ECR_URL
this works just fine

## Why is this needed
Log into Amazon ECR step fails with the messag

[2021-11-12 06:17] Maxwell2022 opened #166 "Add a command to tag (and push) existing images"
## What would you like to be added

The same way [the GCP orb](https://circleci.com/developer/orbs/orb/circleci/gcp-gcr#usage-tag-existing-image) is tagging and existing image and pushing the tag (without having to build or run custom docker command)
[code]

## Why is this needed

1. One way to tag with the current orb is to rebuild the image which doesn't really make sense
2. Another way is to us

[2021-11-22 14:40] #151 closed

[2021-11-24 17:43] yaningo commented on #163
Hi, @Bash-mocart, were you using the default executor for the `aws-ecr/build-and-push-image` job?

If you don't specify an `executor` (https://circleci.com/developer/orbs/orb/circleci/aws-ecr#jobs-build-and-push-image), it'll use the [default one](https://circleci.com/developer/orbs/orb/circleci/aws-ecr#executors-default) which has AWS CLI `v2.0.52` installed.

As per the [AWS CLI command referenc

[2021-11-30 05:27] yuichiro12 commented on #163
Hi.
I tried with non-default executor and I found it still happens in circleci/aws-ecr@>=v7.0.0.

The workaround is using `override-installed` in aws-cli orb:

[code]

`get-login-password` is added in aws-cli v2.0.0, so any awscli v2 will do.
FYI:
https://github.com/aws/aws-cli/blob/v2/CHANGELOG.rst#200

[2021-12-02 18:14] amioranza commented on #162
Hey, I did a PR to add support to the multiarch images
https://github.com/CircleCI-Public/aws-ecr-orb/pull/168

[2021-12-02 18:17] amioranza commented on #162
The docker command `buildx` does cross-arch image generation.

May you take a look on the PR I opened yesterday?

[2021-12-02 18:29] amioranza commented on #140
PR to fix it:
https://github.com/CircleCI-Public/aws-ecr-orb/pull/168

[2021-12-02 18:31] amioranza commented on #162
Another issue with same request
https://github.com/CircleCI-Public/aws-ecr-orb/issues/140

[2021-12-16 05:37] samay023 commented on #161
@ishii1648
What I ended up doing as a workaround is

[code]

[2021-12-20 18:14] KyleTryon commented on #67
Resolved in #116. Thank you.

[2021-12-20 18:14] #67 closed

[2021-12-20 18:45] EricRibeiro commented on #123
Hi @christophersansone

Thanks for getting in touch. By default, the _aws-ecr-orb_ uses a virtual machine as its [executor](https://github.com/CircleCI-Public/aws-ecr-orb/blob/master/src/executors/default.yml). That's why it is working for you as a standalone job but not with docker.

To use it with a docker executor, you need to set the parameter [setup-remote-docker](https://github.com/CircleCI-

[2021-12-20 18:50] #123 closed

[2021-12-20 19:10] brivu commented on #84
Hey @ExternalReality,

Thanks for your suggestion.  I've assigned this task to myself and will be taking a look as soon as I can.

Best,
Brian

[2022-01-02 20:06] allanvobraun commented on #128
Please, any workarounds?

[2022-01-05 05:57] jcity commented on #112
If you remove the quotes from the tag property, it should work. At least it does in version `7.3.0`

[code]

[2022-01-05 11:05] maximgtoy commented on #164
I played around and found out it was the --profile flag that fails the command, while running `aws ecr get-login-password --region $AWS_DEFAULT_REGION ` in a ssh session in the same container worked completely fine.

[2022-01-05 11:53] maximgtoy commented on #163
I played around and found out it was the --profile flag that fails the command, while running aws ecr get-login-password --region $AWS_DEFAULT_REGION in a ssh session in the same container worked completely fine.

[2022-01-10 18:25] brivu commented on #117
This feature has already been added.  I'm going to close for now

[2022-01-10 18:25] #117 closed

[2022-01-11 20:45] AkashHC13 opened #171 "Docker layer caching not working"
### Orb version
7.3.0

### What happened

Below is my circleCI workflow to build and push aws ecr image.
[code]
We have performance plan and hence DLC is enabled for us. Although its enabled, the build step is not cached at all. Every time it runs for about 5 mins.
I also tried to set `setup-remote-docker:` to true. But that doesn't help either. I see a different error
![image](https://user-images

[2022-01-17 16:34] callumcieciala commented on #163
I am encountering this issue on an initial setup of a CircleCI pipeline, is this planned to be fixed or is there a workaround? Does this mean the orb is not usable with the examples it gives?

[2022-01-20 15:30] thehar opened #173 "Add Lifecycle Policies"
## What would you like to be added

The ability to add lifecycle policies in `create-repo` or a separate action manipulating the rules.

https://docs.aws.amazon.com/AmazonECR/latest/userguide/lp_creation.html

## Why is this needed

In order to minimize the amount of ECR repo garbage, lifecycle rules are needed.

[2022-01-20 19:09] brivu commented on #112
Closing this as I have not been able to replicate the issue  If not, please reopen and ping me.

[2022-01-20 19:09] #112 closed

[2022-01-20 19:15] brivu commented on #122
Closing issue for now.  Please reopen if the issue remains

[2022-01-20 19:15] #122 closed

[2022-01-20 19:16] brivu commented on #125
Closing this issue for now.  Please let me know if this is still a problem

[2022-01-20 19:16] #125 closed

[2022-01-20 19:22] #133 closed

[2022-01-20 19:24] brivu commented on #134
Issue resolved with PR https://github.com/CircleCI-Public/aws-ecr-orb/pull/137

[2022-01-20 19:24] #134 closed

[2022-01-20 20:22] brivu commented on #28
I'm closing this request for now but if this is still of interest, please reopen and our team will take a look.  Thank you!

[2022-01-20 20:22] #28 closed

[2022-01-21 00:24] brivu commented on #118
Hi @tkratky,

It looks like the latest ubuntu images has version 20.10.12 of Docker installed, which supports the `dockerignore` file.  I'm going to make the the default executor for this orb in this next major version change that I am working on now.  This issue will be taken care of in the next couple of weeks.

Thanks!
Brian

[2022-01-21 19:26] brivu commented on #135
Hey @andreialecu,

By default when you calling the `build-and-push-image` job, there's step that uses the `ecr-login` command.  This command has a step that uses the [AWS CLI Orb](https://github.com/CircleCI-Public/aws-cli-orb/blob/5240e11230c9548d6bd7ee61fef7ff87ca4fb3af/src/scripts/install) to install the CLI.  If the image already has the CLI installed, [it skips it](https://github.com/CircleCI

[2022-01-21 19:26] #135 closed

[2022-01-21 20:36] JalexChen commented on #146
Hi @alex-hladun,

If I'm understanding what you're trying to do here, it's to utilize a Dockerfile within a hidden/secrets directory.

If so, the path should only be prefixed with "." and the docker build and configuration should reflect that as well

[code]

[code]

Please feel free to re-open the issue if this doesn't address the problem

[2022-01-21 20:36] #146 closed

[2022-01-21 20:55] brivu commented on #146
Hey @alex-hladun,

I'm Brian from CircleCI's CPE team.  I just want to understand the issue you're running into a little more so I can see if this can be resolved for you.

When you say the command should build with a secret file, what are you referring to?  Are you saying that `./server ` is a hidden directory where the `Dockerfile` is stored?  If so, a hidden directory should be `.server`.

I te

[2022-01-21 22:27] brivu commented on #135
Hey @andreialecu,

This one is on our end.  Let me see if I can get the check to run once and then not again.  I see it in my workflow too.

Thanks again for pointing that out to us.

Best,
Brian

[2022-01-25 19:38] JalexChen commented on #171
Hi @AkashHC13,

Based off your error, it looks like you're trying to utilize both a machine executor in addition to a remote docker in the same step or command. The remote docker should be separate from the machine executor; these are two different executors altogether and would need to be specified as separate entities. Are you looking to run a job specifically on a VM, or would you be fine with

[2022-01-26 16:27] #171 closed

[2022-01-27 18:23] brivu commented on #143
Hey @diclophis and @jherico,

Thanks for bringing this to our attention.  We're currently considering adding BuildKit support to our `cimg/base` image, which should help you with this issue.

You can follow this issue [here](https://github.com/CircleCI-Public/cimg-base/issues/147).

Thanks again,
Brian

[2022-01-27 18:23] #143 closed

[2022-02-03 16:09] treharne commented on #148
+1
I am experiencing the same bug.
Similar setup to @innomatics with
[code]

only material difference is that we don't use the ECR orb, we perform that step manually.

Keen to know if this is being worked on?

[2022-02-06 01:39] brivu commented on #39
Hey @ExternalReality,

I'm Brian from CircleCI's CPE Team.  I just wanted to let you know thatI've taken care of this issue and it'll be merged with the next PR.

Thanks for your contribution!
Brian

[2022-02-06 01:39] brivu commented on #84
Hey @ExternalReality,

I'm Brian from CircleCI's CPE Team.  I just wanted to let you know thatI've taken care of this issue and it'll be merged with the next PR.

Thanks for your contribution!
Brian

[2022-02-06 01:40] brivu commented on #131
Hey @mark-ship-it ,

I'm Brian from CircleCI's CPE Team.  I just wanted to let you know thatI've taken care of this issue and it'll be merged with the next PR.

Thanks for your contribution!
Brian

[2022-02-06 01:40] brivu commented on #129
Hey @jeremietharaud ,

I'm Brian from CircleCI's CPE Team.  I just wanted to let you know thatI've taken care of this issue and it'll be merged with the next PR.

Thanks for your contribution!
Brian

[2022-02-06 01:41] brivu commented on #86
Hey @chrisgilmerproj

I'm Brian from CircleCI's CPE Team.  I just wanted to let you know thatI've taken care of this issue and it'll be merged with the next PR.

Thanks for your contribution!
Brian

[2022-02-06 01:41] brivu commented on #140
Hey @Quantisan and @amioranza,

I'm Brian from CircleCI's CPE Team.  I just wanted to let you know thatI've taken care of this issue and it'll be merged with the next PR.

Thanks for your contribution!
Brian

[2022-02-06 01:43] brivu commented on #148
Hi @innomatics,

I'm Brian from CircleCI's CPE team.  I'm investigating this right now and am hoping to have a fix in my next PR.  I've added support for building arm images already and am just verifying that the DLC works.

Thanks for your contribution!
Best,
Brian

[2022-02-06 01:43] brivu commented on #162
Hey @amioranza ,

I'm Brian from CircleCI's CPE Team.  I just wanted to let you know that I've taken care of this.  I've added support for ARM and it'll be merged with the next PR.

Thanks for your contribution!
Brian

[2022-02-06 01:45] brivu commented on #158
Hey @zackssssss,

I'm Brian from CircleCI's CPE Team.  I just wanted to let you know that I'm investigating this issue. I have to make some changes to the AWS CLI orb in order to update the `source_profile' with more than just the arn.  I'm hoping to have this fixed soon!

Thanks for your contribution!
Brian

[2022-02-07 22:20] #161 closed

[2022-02-07 23:18] chrisgilmerproj commented on #86
Brian, Thanks for the update. I appreciate that you folks kept working on this.

[2022-02-09 22:06] brivu commented on #173
Hey @thehar,

I'm Brian from CircleCI's Customer Engineering Team.  I'm working on a major refactor for this orb at the moment and would like some clarification on your request.  According to the [documentation](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/ecr/put-lifecycle-policy.html), the lifecycle policy is stored in a `json` file.

[code]
My question are you planning to

[2022-02-10 09:26] callumcieciala commented on #163
@brivu
Hey Brian,

I believe I am trying to log in without a profile. Currently I have hand written the steps in my pipeline to interact with my ECR repo and I am not using a profile and everything is working fine.
When using the orb with the settings / defaults in the examples I was getting the interactive login error message.

Thanks for reaching out and looking at this.

Kind regards,
Cal

[2022-02-11 13:08] brivu commented on #152
Hello @vatima2016,

Thanks for bringing this to our attention! I am currently working on a major update for this orb that will address this issue.  I'm hoping to have it ready next week.

Thanks again!
Brian

[2022-02-11 13:26] brivu commented on #166
Hey @Maxwell2022,

I'm Brian from CircleCI's CPE Team.  I just wanted to let you know that I'm working a major update for this orb and will include this command.  Thanks for contributing!

Best,
Brian

[2022-02-12 09:02] TheVaan opened #174 "Defining resource-class not working"
### Orb version
7.3.0

### What happened
When using the `resource-class` parameter from #159 as described here:
https://github.com/CircleCI-Public/aws-ecr-orb/blob/a44ce37f36b849d4ba853d2b3eee948376b6e1a9/README.md?plain=1#L104
my build process fails with
[code]

### Expected behavior
The job should use the given resource_class.

The reason why this wont work is obvious: this parameter isn't defin

[2022-02-14 02:51] innomatics commented on #148
Hi @brivu thanks for working on this issue.

I had a support ticket last year with CircleCI team and eventually they got it working for a while after some work by @nbialostosky

I'm not sure when it stopped working but doesn't work at the moment.

[2022-02-17 06:57] brivu commented on #163
Hey Cal!

Thanks for letting me know.  I'm adding in validation for the profile so that if it doesn't exist, the `--profile` flag does not get added to the `ecr login` command.

I'm aiming to have this fix in by this week or early next!

Best,
Brian

[2022-02-17 07:06] brivu commented on #155
Hey @nairb774 ,

Thanks for letting me know.  I'll see if we can help here internally.  I am closing this issue for now.

Best,
Brian

[2022-02-17 07:06] #155 closed

[2022-02-17 07:08] brivu commented on #128
Hey @allanvobraun,

I'm working on a major refactor of this Orb right now and will include public registry support.  It should be done at the end of this week or early next week.

Thanks for letting us know!

Best,
Brian

[2022-02-17 11:33] allanvobraun commented on #128
It will be amazing! It will greatly reduce my setup. I'm currently using the aws cli orb.
If you want help testing let me know.

[2022-02-17 11:47] Ogaday commented on #53
Looks like #170 should resolve this

[2022-02-17 11:53] Ogaday commented on #158
@brivu can you take a look at #170? That might be sufficient as is.

[2022-02-17 21:48] brivu commented on #158
@Ogaday - You are correct.  I have to fix the CLI orb in order to fix #170 in the ECR orb

Looking to have a PR ready tomorrow with all of the fixes in place!

[2022-02-22 13:16] amioranza commented on #162
To anyone who is waiting the official support I just published an alternate version to build multiple platform images based on the CCI original one.

Here is the ORB: https://circleci.com/developer/orbs/orb/sweetgreen/aws-ecr

Thanks @brivu

[2022-02-23 15:24] govinaeyum commented on #128
Hello @brivu, I am using the aws-ecr orb to deploy image to public ecr but encountered authentication issue. Any update on this orb to include public repo deployment. Orb works fine with private repo. Thanks.

[2022-03-01 00:45] brivu commented on #147
Hey @glenwinters,

I'm doing a major update of this orb which includes removing the `account-url` parameter and replacing it with `registry-id`.  With this parameter in place, we can construct the registry URLs like below:

``` ${REGISTRY_ID}.dkr.ecr.${REGION}.amazonaws.com```

I have also made the `region` parameter a `string` instead of an environment variable.  This way, you'll be able to use a

[2022-03-01 00:45] #147 closed

[2022-03-01 01:03] glenwinters commented on #147
@brivu Thanks, Brian. That's a nice use of matrix to push to multiple regions.

[2022-03-01 01:23] brivu commented on #174
Hey @TheVaan,

Great catch. The example is missing an `executor` in the job itself.  You can only use  the `resource_class ` parameter if there's a defined executor.  Here's a [link to our documentation](https://circleci.com/docs/2.0/configuration-reference/).

I'll be sure to update the README file.

Thanks again for pointing that out!

Best,
Brian

[2022-03-01 01:23] #174 closed

[2022-03-01 03:40] brivu commented on #148
Hey @innomatics,

Are you trying to build a `linux/amd64` image on an `arm executor? If so, that should work.  However, if you're trying to build and `linux/arm64` image, it doesn't and I'm not sure if that was ever available (might be a new feature) since we just introduced multi-architect buillds.

I'm investigating with the support team at the moment and will hopefully get a resolution soon.

B

[2022-03-11 16:55] brivu opened #175 "Migrate to Orb Tools v11"
### Describe Request

Migrate to Orb Tools v11.1
https://github.com/CircleCI-Public/orb-tools-orb/blob/master/MIGRATION.md

[2022-03-15 16:08] EricRibeiro commented on #175
It was done in #176.

[2022-03-15 16:08] #175 closed

[2022-03-15 21:48] #118 closed

[2022-03-15 21:48] #129 closed

[2022-03-15 21:48] #131 closed

[2022-03-15 21:48] #140 closed

[2022-03-15 21:48] #148 closed

[2022-03-15 21:48] #150 closed

[2022-03-15 23:49] brivu commented on #166
Hi! This issue has been addressed and merged in this PR: https://github.com/CircleCI-Public/aws-ecr-orb/pull/172

[2022-03-15 23:49] #166 closed

[2022-03-15 23:50] brivu commented on #163
Hey Cal!

This issue has been addressed and merged in this PR: https://github.com/CircleCI-Public/aws-ecr-orb/pull/172

Cheers!
Brian

[2022-03-15 23:50] #163 closed

[2022-03-15 23:51] brivu commented on #164
Hey Cal!

This issue has been addressed and merged in this PR: https://github.com/CircleCI-Public/aws-ecr-orb/pull/172

Cheers!
Brian

[2022-03-15 23:51] #164 closed

[2022-03-15 23:52] brivu commented on #162
Hey Cal!

This issue has been addressed and merged in this PR: https://github.com/CircleCI-Public/aws-ecr-orb/pull/172

Cheers!
Brian

[2022-03-15 23:52] #162 closed

[2022-03-15 23:52] brivu commented on #158
Hey Cal!

This issue has been addressed and merged in this PR: https://github.com/CircleCI-Public/aws-ecr-orb/pull/172

Cheers!
Brian

[2022-03-15 23:52] #158 closed

[2022-03-15 23:52] brivu commented on #157
Hey Cal!

This issue has been addressed and merged in this PR: https://github.com/CircleCI-Public/aws-ecr-orb/pull/172

Cheers!
Brian

[2022-03-15 23:52] #157 closed

[2022-03-15 23:53] brivu commented on #152
Hey Cal!

This issue has been addressed and merged in this PR: https://github.com/CircleCI-Public/aws-ecr-orb/pull/172

Cheers!
Brian

[2022-03-15 23:53] #152 closed

[2022-03-15 23:54] brivu commented on #128
Hey @allanvobraun!

This issue has been addressed and merged in this PR: https://github.com/CircleCI-Public/aws-ecr-orb/pull/172

Cheers!
Brian

[2022-03-15 23:54] #128 closed

[2022-03-16 03:15] jmreicha opened #177 "Add support for build-image job"
## What would you like to be added

It would be nice to have a shorthand way of building an image only without having to create a job and do the configuration instead in the workflow. Unless I’m missing something it doesn’t look like this is currently possible.

## Why is this needed

It would be useful (for my use case anyway) to have the ability to condense down build/push jobs into workflows.

[2022-03-16 09:50] SattarLimejump opened #178 "Can we have "build-and-push" command added back again?"
## What would you like to be added

According to the latest version(8.0.0), the "build-and-push" command is gone because it performs the same function as the "build-and-push" job.
Is it possible to have it again?

## Why is this needed

It is very useful when we have multiple workflows in our CI pipeline because it enables us to create custom jobs and simplify configurations by using the custom jo

[2022-03-16 10:00] kovacevicm opened #179 "build-image command with push-image: false doesn't output image"
### Orb version
8.0.0

### What happened
Using `build-image` command  with `push-image: false` causes the build result to only be present in build cache, showing the following warning:
[code]
The built  image cannot later on be referenced by the tags used for the build.

### Expected behavior
The result of the `build-image` command is an image which can be later on referenced by tags used for the

[2022-03-16 16:13] SattarLimejump opened #180 "Problem with profile name when using role-arn to build and push the image"
### Orb version
8.0.0

### What happened

This version has a problem with role-arn assumption,
When we don't pass "new-profile-name" but we want to assume a role-arn, it sets empty string "" as profile-name for the role assumption step so it gets failed,

If we pass the "new-profile-name" the role assumption part is working but the rest of the steps still using the "default" value for the profile-

[2022-03-16 23:15] brivu commented on #177
Hey @jmreicha,

Can you give me some more details about your use case?  I would like to understand more to see if I can make the changes you need.

Best,
Brian

[2022-03-16 23:27] brivu commented on #178
Hey @SattarLimejump,

The `build-and-push-image` job basically calls the `ecr-login` command so that you're authenticated before you use the `build-image` command.

Will using `build-and-push-image` job again or using just the `build-image` command work for your use case?  I am trying to understand your use case better.  If you can show a sample config, that'd really help.

Best,
Brian

[2022-03-16 23:46] brivu commented on #180
Hey @SattarLimejump,

With the new `role-arn-setup` command in the AWS CLI Orb, you need to run the `aws-cli/setup` command first to create the `default` profile with credentials.

Then, the `aws-cli/role-arn-setup` command creates a new named profile tied to a `role-arn`  and uses the `default` profile you created first in the `aws-cli/setup` command as the source profile to retrieve the static c

[2022-03-16 23:48] brivu commented on #179
Hey @kovacevicm,

Thanks for opening this issue.  Let me huddle up with my team and see how we can add this feature.

Best,
Brian

[2022-03-16 23:54] jmreicha commented on #177
Sure. It might also not be worth the effort if I'm the only person with this use case 😂

Basically I have a repo that is dedicated to managing Docker images. As part of the flow, the first step is to open a PR and build an image and do various testing. Once the PR is merged into the main branch then the build and push happens.

So as it works right now, I have a bunch of logic in individual jobs f

[2022-03-17 00:40] SattarLimejump commented on #178
Hey @brivu,

Thanks for your response,

Let me explain my case first,

this is part of my configs with version number 7.3.0
`  build-push-image:
    executor: node
    parameters:
      tag:
        type: string
    steps:
      - aws-cli/setup
      - aws-cli/role-arn-setup:
          role-arn: "${DEPLOY_ROLE_ARN}"
          profile-name: deployer
      - aws-ecr/build-and-push-image:
          s

[2022-03-17 01:04] SattarLimejump commented on #180
Hey @brivu

Here is a part of my config which is working because I've passed "new-profile-name: default" to the job:
[code]

But if I don't pass it, this will be the output:
[code]

as you see, it does assign the empty string ('') value as profile-name in the role-assume step instead of 'default', and in the next steps it keeps using 'default' as profile-name value,
And if we pass any name other t

[2022-03-17 09:22] gobbledygook88 opened #181 "Support environment variable for source-tag in tag-image job"
## What would you like to be added

The `tag-image` job supports `source-tag` as a parameter. Unfortunately, it seems the following configuration doesn't work as intended.

[code]

Looking at the source code, the `repo` parameter is evaluated but `source-tag` isn't.
It would be nice to have `source-tag` evaluated too.

Happy to raise a PR if this is something we'd like to support.

[2022-03-18 22:02] iandelahorne opened #182 "extra-build-args seems broken in 8.0.0"
### Orb version
8.0.0

### What happened
We use build args to pass arguments into the container build process. For example, we build our own base images off upstream containers with our own customizations added in. To support multiple versions of the upstream container with the same Dockerfiles, we do the following in a dockerfile for our python container:
[code]

In our CircleCI job, we do the fo

[2022-03-22 14:26] keen99 commented on #179
@brivu you'd need to `--load` instead of `--push` to copy the image from the build context back.

[2022-03-22 14:26] keen99 commented on #179
but even that's imperfect in some cases.

[2022-03-22 14:27] keen99 commented on #179
@kovacevicm you should be able to work around this by passing `--load` as an `extra-build-args`  (assuming they're working, which other issues suggest they may not be working completely..)

[2022-03-22 22:25] tfielding-sourcepoint commented on #178
What if we'd like to perform some other commands before the build-and-push?  Having the 'command' exposed allows, in my case, to do things like restore circleCI build caches.  This is a critical one for us, please bring back the "build-and-push" command! :)

[2022-03-23 15:02] ishii1648 commented on #161
@samay023 @brivu
Thank you for telling workaround. I confirmed this way.

[2022-03-24 13:12] andrew-barnett commented on #178
IMO the command is more flexible than the job, so if you weren't going to keep both you should have removed the job and not the command. (I personally would have kept both.) Not happy to have to go re-architect 50+ repos just because someone arbitrarily decided my use case wasn't valid.

[2022-03-25 13:06] thehar commented on #173
Apologies for the latency here. In repo is acceptable to me, yes.

Thanks Brian!

[2022-03-26 18:22] hshafy commented on #181
Same here, got this error
[code]

[2022-03-29 18:06] hshafy opened #185 "error: failed to solve: failed to read dockerfile on v8.0.0"
### Orb version
v8.0.0

### What happened
One of our repos had this error of not finding dockerFile on the `Build docker image with buildx` step.

In this worfklow we use the `build-image` command, this error is not repreducable in other repos, going back to v7.3.0 and using `build-and-push-image` command instead without changing anything else fixes it!

[code]

### Expected behavior

Build and pu

[2022-03-30 09:50] trulex opened #186 "Unable to copy files from host to Docker image"
### Orb version
8.0.0

### What happened
Docker build cannot find host files that needs to be copied into the image.
Build fails at **Build Docker Image with buildx**
[code]
Motivation is to preserve build files from a previous job without publishing them as artifacts since it's enough to just copy them into a Docker image in the job that comes after.

### Expected behavior
Host files are accessib

[2022-03-30 23:31] brivu commented on #185
Hey @hshafy,

Can you show my your config? I think there might be an issue with the way you're using the `path` parameter and the `dockerfile` parameter.

Best,
Brian

[2022-04-01 20:52] brivu commented on #180
Hey @SattarLimejump,

If you take a look at PR #184, this issue should be addressed. When a `role-arn`, `source-profile` and `new-profile` parameters are provided, we configure the `role-arn` with the `aws-cli/role-arn-setup` command and then log into ECR with the new profile provided.

Can you let me know if this is the functionality you're looking for?

If so, I'm doing a minor update to this Or

[2022-04-01 21:32] brivu commented on #178
Hey Everyone,

I hear you loud and clear. Let me go back to the team and make a case for this to be added back in. I'm doing a minor update to this orb as we speak and I'll be advocating for the command to be added back in.

Best,
Brian

[2022-04-01 22:32] brivu commented on #182
Hey @iandelahorne,

Thanks for pointing this issue out. I've addressed this in my next minor version update in PR #187.

Best,
Brian

[2022-04-01 22:54] brivu commented on #177
Hey @jmreicha,

[In version 7.3 of this orb, we had a `build-and push-image` command](https://circleci.com/developer/orbs/orb/circleci/aws-ecr?version=7.3.0#commands-build-and-push-image).

Would this work better for you? Other users are also saying the same in issue #178.

I'm trying to make a case for this next week and your input would help!

Best,
Brian

[2022-04-01 23:01] brivu commented on #179
Hey @keen99,

I went ahead and added this into the `docker-buildx.sh` script. If the `push-image` parameter is set to false, we'll add the `--load` flag so it assumes that the user wants an output when deciding not to push.
[code]

This is taken care of in PR #187.

Hope that helps and thanks for letting us know!

Best,
Brian

[2022-04-02 01:18] jmreicha commented on #177
I’m actually more interested in a build-push job for my use case. The reason is basically that it would boil my configs down into one section in the configuration file.

[2022-04-04 19:12] brivu commented on #186
Hey @trulex,

I noticed that you defined the Docker orb in your config but you do not use it in the sample config above. Is this just a simplified config?

Also, can you verify if you the file actually gets persisted by SSH'ing into the job?

Let me know and I'll do my best to fit this minor update.

Best,
Brian

[2022-04-04 19:15] brivu commented on #185
Hi @hshafy,

Just wanted to check in to see if this is still an issue for you. Let me know so I can help get this sorted out.

Best,
Brian

[2022-04-04 19:39] brivu commented on #177
Hey @jmreicha,

In version 8.0 of this orb, there's a `push` parameter that you can set to `false` in the `build-and-push` command.  That way, the image only gets built and no pushing is involved.

Would that help your use case here in boiling your configs down into one section? If not, can you help me understand why?

Best,
Brian

[2022-04-05 11:40] luisdavim opened #188 "Error: unknown flag: --use"
### Orb version

`circleci/aws-ecr@8.0`

### What happened

I've updated my configuration to use the latest version and now the step `Build a docker image with Docker Buildx` fails with the error: `unknown flag: --use`

### Expected behaviour

A docker image should be built without errors.

This is how I'm using the command:

[code]

[2022-04-05 21:04] brivu commented on #188
Hey @luisdavim,

I've addressed this issue and it should be ready soon in PR #187. If you'd like to test these changes, you can change the version to `@dev:alpha` in your config and it should work.

Here's the link: https://circleci.com/developer/orbs/orb/circleci/aws-ecr?version=dev:alpha

Can you give that a try and let me know if it works?

Best,
Brian

[2022-04-06 01:04] brivu commented on #178
Hey everyone,

I spoke with the team this morning and was able to make a case for the `build-and-push` command to be added back in.

It should be done within a week or so with PR #187

Best,
Brian

[2022-04-06 01:10] jmreicha commented on #177
I don't see an easy way to filter build vs build-push on PRs/pushes to master without involving the additional jobs configuration, unless I'm missing something.

I'd be happy to try it out if you point me to an example config?

[2022-04-06 01:26] jmreicha commented on #177
I think I see what you mean. Let me give it a try.

[2022-04-06 20:20] brivu commented on #177
@jmreicha,

Just as a note, you need to use the `@dev:alpha` version if you wanted to use have this image built locally without pushing.

I've added a fix where if `push` is set to false, the docker command adds a `--load` flag which lets you build the image locally without pushing.

It's a fix for issue #179

Hope that helps!

Brian

[2022-04-06 21:22] luisdavim commented on #188
Hi @brivu I've tried that and it fails exactly the same way:

[code]

[2022-04-07 06:58] brivu commented on #188
Hey @luisdavim,

That's really strange because I do not see a `--use` flag anywhere in your extra arguments at all.  Moreover, I'm not inject `--use` anywhere in this repo.

Does the job show you the bash command it's trying to run?

One more thing to try, in my `config.yml` I am not using quotations in for the extra arguments:

[code]

Perhaps if you try removing it, it may make a difference?

Le

[2022-04-07 07:20] brivu commented on #178
Hello,

I've added the command back into the orb. The `@dev:alpha` version is live for testing so if you all can give a run and leave me some feedback, that'd be great.  It'll help with merging these changes sooner.

Best,
Brian

[2022-04-07 07:22] brivu commented on #188
@luisdavim,

I made a mistake.  The dev version is here: https://circleci.com/developer/orbs/orb/circleci/aws-ecr?version=dev:e4fb53122a1e1ea4e073ae413c7816b1e2f538de

Hoping that makes a difference.

Best,
Brian

[2022-04-07 07:39] luisdavim commented on #188
Ok, I'll give it a go and let you know how it went. :+1

[2022-04-07 07:45] luisdavim commented on #188
BTW the `--use` flag comes from your orb, in the `docker buildx` command, not from my args.

You can see it in the orb source in https://circleci.com/developer/orbs/orb/circleci/aws-ecr line 127.

[2022-04-07 13:49] luisdavim commented on #188
I still get the same error with `dev:e4fb53122a1e1ea4e073ae413c7816b1e2f538de`

[2022-04-08 10:49] luisdavim commented on #188
This is where the flag is in your branch: https://github.com/CircleCI-Public/aws-ecr-orb/blob/update-v8.1/src/scripts/docker-buildx.sh#L64

[2022-04-12 19:09] luisdavim commented on #188
Hi, I did try using different docker versions but as mentioned in my original post I'm using `2.10.11` (remote docker setup).
I use private ECR repos to store my images and for the executer I use a custom image based off your `cimg/python:3.9.6` image.
I'm not cross compiling and I'm not building images for multiple achitectures, only Linux.

I tryied the command locally, using the latest docker c

[2022-04-12 21:43] luisdavim commented on #188
@brivu I was able to make some progress by using a different image, I'm guessing the issue might have been the docker client version in the image I was using before but now I'm getting errors regarding my extra build args, regadless of using quotes or not it fails if I try to mass more than just a single art, I thik the prolem is that the script in this Orb uses `--set` and passes the args as a qu

[2022-04-13 00:06] brivu commented on #188
@luisdavim, the dev version of this orb should take care of that issue and then version 8.1 once this PR is merged.

I removed the quotations and passed in multiple build args as a test and it works. Can you give it a try to let me know?

[2022-04-14 07:38] luisdavim commented on #188
Hi @brivu I can confirm that your branch solves that issue. Thanks.

[2022-04-14 12:16] jmreicha commented on #177
It looks like they should work. I am going to wait until the new version is released to test but should be good to close this after testing.

[2022-04-15 13:21] hshafy commented on #185
@brivu yes it's still an issue, had to move back to `v7.3.0`, here is my config file, please let me know I do something wrong!
[code]

[2022-04-15 18:00] brivu commented on #185
Hey @hshafy,

Try adding `dockerfile: /Dockerfile` to your job. You need to specify the root directory (or any directory) with that parameter.  I think it's defaulting to just `Dockerfile` without any path specified.

-Brian

[2022-04-20 17:47] kochalex opened #189 "ecr-login does not login if .docker/config.json already exists"
### Orb version

8.0.0

### What happened

* The `ecr-login` command did not log into AWS ECR when a dockerhub credential had been previously configured in a workflow.
  * The `ecr-login` command checks for the presence of `~/.docker/config.json` and assumes that ECR is configured.  It does not actually check if ECR credentials exist or are valid.

### Expected behavior

The login command should s

[2022-04-21 21:42] brivu commented on #189
Hey @kochalex,

Can you show me an example of your config so I can take a look? I am not sure if this orb is set up to handle multiple logins.

This validation is meant to check and see if the user has a credential helper installed. If so, trying to log in with `ecr-login` will fail.

I am not sure we can support multiple log in methods but I'm happy to take a look if you can give me an example of

[2022-04-21 22:01] kochalex commented on #189
Sure - I am combining both the docker and ECS orbs to push to build and push to both ECR and dockerhub.  Here's a anonymized version of it that should show what's going on.  `docker/publish` creates the same config file too, causing `ecr-login` to not actually log into ECR.

Would there any harm if the orb re-ran the `aws ecr get-login-password ...` command when `aws-ecr/ecr-login` is invoked?

[c

[2022-04-22 07:23] brivu commented on #189
I see what you mean here. So if we found another way to see if a credential helper exists then we wouldn't have to skip logging you into ECR. In other words, if we removed the check for `config.json`, this would work for you, correct?

[2022-04-22 07:34] #173 closed

[2022-04-22 07:34] #177 closed

[2022-04-22 07:34] #178 closed

[2022-04-22 07:34] #179 closed

[2022-04-22 07:34] #180 closed

[2022-04-22 07:34] #181 closed

[2022-04-22 07:34] #182 closed

[2022-04-22 07:34] #188 closed

[2022-04-22 15:14] kochalex commented on #189
@brivu - yes.

Also, not super high priority for us as there is a straightforward workaround once I looked at the orb source to see what was going on.

[2022-04-22 18:03] jverce opened #190 "Last version tag has a typo"
### Orb version

8.1.0

### What happened

The last tag/release, which was intended to be `v8.1.0`, is actually `v.8.1.0`, which wasn't detected as a production
release, so the new version is not available in the [orb's page](https://circleci.com/developer/orbs/orb/circleci/aws-ecr)

The `orb-tools/publish` [job execution](https://app.circleci.com/pipelines/github/CircleCI-Public/aws-ecr-orb/1020/

[2022-04-22 18:03] jverce commented on #190
cc @brivu

[2022-04-22 19:07] brivu commented on #190
Great catch @jverce. That's what I get for making a release late at night ;)

[2022-04-22 19:08] #190 closed

[2022-04-22 20:46] brivu commented on #189
@kochalex,

I'll keep this in mind for the next update. Thanks for letting me know!

Brian

[2022-04-25 13:38] eladitzhakian commented on #188
Hey @brivu, I've used the latest dev version of your branch and I'm still getting the `--use` error.

Config:
[code]

[2022-04-25 16:07] clementlecorre commented on #182
I have a problem when I use args with bash commands, am I using the wrong syntax? (tested with v8.1.0)

my command:
[code]
my error:
[code]

[2022-04-25 19:52] rvlb opened #191 "skip-when-tags-exist on build-and-push-image seems to be working incorrectly"
### Orb version
8.0.0

### What happened
Hi there!

I have an workflow that has a `aws-ecr/build-and-push-image` job to push an image to ECR and I've added `skip-when-tags-exist: true` to it, in order to speed up the process in case the image was already there.

I've noticed that the job fully runs (going through the build process, etc) even if the image is on ECR. I've double-checked if the tags

[2022-04-26 03:50] abishek-antwalk opened #192 "extra-build-args not interpolating value from environment variable"
### Orb version

8.1.0

### What happened

We use build args to pass arguments into the container build process. These  arguments are then used during docker build.

In our CircleCI job, we do the following:

[code]

In 8.1.0, the build fails because the value of AWS_ACCESS_KEY_ID is taken as `$AWS_ACCESS_KEY_ID` and AWS_SECRET_ACCESS_KEY as `$AWS_SECRET_ACCESS_KEY`. instead of the actual values.

[2022-04-26 17:39] manishparanjape commented on #192
Any update on this? I am also facing the same issue.

[2022-04-26 21:22] hongyihu commented on #192
Hi, this is also a problem when passing in environment variables as parameters. For example, if I want to set `path` as `<<parameters.path>>` where the default is `$CIRCLE_JOB`, then `path` is interpreted as `$CIRCLE_JOB` instead of the actual value.

[2022-04-27 00:28] manishparanjape commented on #192
I have created a Pull Request. This should also fix the issue reported by hongyihu.
I have no way of testing my changes so please review and merge if this works.

[2022-04-28 14:01] zbroniszewski opened #194 "role-arn not interpolating value from project environment variable"
**NOTE**: I have opened this issue as well with the `aws-cli` orb [here](https://github.com/CircleCI-Public/aws-cli-orb/issues/105), because I'm currently unsure where the root cause resides; whether it is due to the way `aws-ecr` is collecting/passing the `role-arn` parameter to the `aws-cli` orb, or if the issue is merely with the `aws-cli` orb.

### Orb version
8.1.0

### What happened
We are u

[2022-04-28 22:15] kokizzu commented on #182
@clementlecorre waiting for this fix https://github.com/CircleCI-Public/aws-ecr-orb/pull/193
but meanwhile, you can use 7.3.0

[2022-05-02 13:53] KyleTryon commented on #192
https://circleci.com/developer/orbs/orb/circleci/aws-ecr?version=8.1.1

v8.1.1 has been released. Thank you @manishparanjape

[2022-05-02 13:53] #192 closed

[2022-05-02 16:01] jchavaco opened #195 "Enable extra-build-args interpolation"
## What would you like to be added

Enable extra-build-args interpolation, same as tag:

![image](https://user-images.githubusercontent.com/85574493/166267008-5d710c3c-90e8-4baa-938d-c3205d87186a.png)

## Why is this needed

Enable to use of environment variables in extra-build-args

Thanks!

[2022-05-02 16:08] #195 closed

[2022-05-02 16:08] jchavaco commented on #195
Fixed https://github.com/CircleCI-Public/aws-ecr-orb/commit/f7245e32ec81adb22d4e05658220a4e86f2dd90c thanks @manishparanjape

[2022-05-02 20:39] LaurentGoderre commented on #189
I am encountering this too. I need to log into both the private ECR and the public one to avoid quote limits. Would you be opposed to using jq to check if the specific ECR has a token if the config.json exists?

[2022-05-02 20:50] LaurentGoderre commented on #189
The jq command to use woulds be:

[code]

The new condition would be

[code]

[2022-05-02 21:01] LaurentGoderre commented on #189
Or a safer way that checks if jq is present before doing the more advanced check:

[code]

[2022-05-03 05:15] brivu commented on #189
Hey @LaurentGoderre,

Thank you for the suggestion! I was thinking about doing `cat ~/.docker/config.json |  grep "${PARAM_ACCOUNT_URL} > /dev/null 2>&1"` to see if the url exists in the json since `jq` may not exist in every executor (like `Alpine Linux`).

I'm going to test this out and add the validation if it works.

Thank you!
Best,
Brian

[2022-05-03 16:46] wmiller112 commented on #181
Looks like this is still an issue https://github.com/CircleCI-Public/aws-ecr-orb/blob/master/src/scripts/tag-image.sh

[2022-05-03 18:11] wmiller112 opened #197 "Image tag command target-tag parameter eval"
## What would you like to be added

Similar to [this issue](https://github.com/CircleCI-Public/aws-ecr-orb/issues/181) about the tag-image source-tag, it would be nice to be able to pass a variable for the target-tag parameter.

## Why is this needed

Ability to use the command for immutable tags.

[2022-05-03 18:13] #189 closed

[2022-05-03 18:13] #191 closed

[2022-05-03 18:13] #194 closed

[2022-05-03 21:13] brivu commented on #197
Hi @wmiller112,

I this has been fixed in the latest PR. I'm about to cut a new patch release right now so it should be available in `v8.1.2`.

Thanks!
Brian

[2022-05-03 21:13] #197 closed

[2022-05-04 11:59] LaurentGoderre commented on #189
Hey, do you know how long until it becomes a non-dev release?

[2022-05-10 09:29] mksplg opened #199 "Readd push-image command"
## What would you like to be added

Up until version 7.3, the command `push-image` was supported. The command pushes an already built image to ECR.

## Why is this needed

We build the image using a gradle docker plugin. The reason to not use native `docker build` directly is, that the gradle plugin can use the build artefact from previous gradle build steps.

We only want to push the already exis

[2022-05-10 11:45] luisdavim opened #200 "error: failed to solve: failed commit on ref : unexpected status: 400 Bad Request"
### Orb version

We're on the latest v8.1.x

### What happened

Some builds randomly fail when exporting the image:

[code]

### Expected behaviour

The image should be published successfully.

[2022-05-10 13:54] luisdavim commented on #200
I've done some digging and I think the issue is that we have immutable tags enabled on our ECR repos and we also set `skip-when-tags-exist: true` on the build and push step but that seems to be ignored and the task will still try to publish a build for a tag that already exists, causing the 400 error response from ECR.

[2022-05-13 02:52] bouzuya opened #201 "'context "builder" already exists' error has occurred"
### Orb version

8.1.2

### What happened

[code]

`context "builder" already exists` error has occurred.

### Expected behavior

Please stop calling `docker context create builder` multiple times.
I would like to be able to specify `CONTEXT` (default: `builder`) .
I use splitting jobs as a workaround.

[2022-05-13 11:30] ToldoDM opened #202 "Docker Layer Cache"
Hi can someone please help me with docker layer caching?
I've tried to use like specified on the Orb site, but i still didn't figured out how to have docker layer caching.
I'm currently using a free plan that has the feature for the DLC (is no longer required to have Performace or better).
Also I've already contacted the support to let me activate DLC.

Every time i set another run, the docker sta

[2022-05-16 21:39] ryankbern commented on #199
This would be useful for us as well as we build our docker images using nix. Right now we use `ecr-login` and then run a script to tag and push the images.

[2022-05-19 04:56] sidewaiise commented on #200
Had a similar error, where we got a `403` forbidden. Basically when we try to push the image to ECR, under conditions where an older version worked (6.3.x / 7.0.0), it now fails:

[code]

[2022-05-20 14:05] lucapino-kobalt commented on #194
as mentioned in https://github.com/CircleCI-Public/aws-ecr-orb/pull/196, the issue unfortunately does not seem to have been fixed in 8.1.2. do we need to create a new issue to track it?

[2022-05-22 18:58] SattarLimejump commented on #194
I'm having the same problem!

[2022-05-22 18:58] SattarLimejump commented on #194
@brivu Do we need to create a new issue for this?

[2022-05-23 15:01] ffinkbe opened #203 "RoleArn validation error in v8.1"
### Orb version

version >= 8.1.0

### What happened

When running ecr-login on `8.0.0` this works:
[code]

However due to the extra-build-args bug fixed in `8.1.1` I had to update the version.
Now the same code does not work anymore.

Error output:
[code]

I assume this is a bug since my config has not changed in the ecr-login block. The given `role-arn` is the same and also longer than 20 charac

[2022-05-26 02:51] zbroniszewski commented on #203
@ffinkbe I've mentioned this issue as well here:
https://github.com/CircleCI-Public/aws-ecr-orb/issues/194

It appears we are waiting for a new release, [one user points out](https://github.com/CircleCI-Public/aws-ecr-orb/pull/196#issuecomment-1132933563) that the latest `aws-ecr` orb did not pick up the latest patch from the `aws-cli` orb which is where this issue was ultimately resolved. (So it

[2022-05-26 03:11] zbroniszewski opened #204 ""build-image" running twice per job, is it possible?"
### Orb version
8.1.2

### What happened
While digging through the `aws-ecr-orb` code, I spotted something that I can only reason to be an issue. If an issue, it is certainly a relatively larger issue that deserves attention.

It appears that under a condition in which the `role-arn` and `new-profile-name` parameters are set on the `build-and-push-image` job, that the `build-image` command will be

[2022-05-31 07:41] AntonCriterion commented on #188
The problem still persists at 8.1.2

[code]

[2022-05-31 19:22] nategoethel opened #205 "Docker Layer Caching Not Working"
### Orb version

v8.1.2

### What happened

Docker layer caching does not seem to be working. I expect to see cache hits after the first build, but I don't.

My CircleCI config looks like this:
[code]

### Expected behavior

If the executor used with the orb has DLC enabled, cache hits should be seen on subsequent runs.

[2022-06-01 07:52] li-dennis opened #206 "Unexpected argument(s): checkout"
### Orb version
circleci/aws-ecr@8.1.2

### What happened
Attempted to upgrade orb from aws-ecr@6.15.3  to 8.1.2 but ran into the following error on build in circleci:
[code]

### Expected behavior
checkout should work as expected as a command in our `config.yml` and described in the docs

<img width="905" alt="Screen Shot 2022-06-01 at 3 52 25 AM" src="https://user-images.githubusercontent.com/18

[2022-06-02 07:07] umarpansoota commented on #206
I am facing the same issue while attempting to upgrade orb from `aws-ecr@6.12.2` to `8.1.2` but ran into the following error on build in CircleCI:

`#Error calling command: 'aws-ecr/build-image'
#Unexpected argument(s): checkout, ecr-login`

[2022-06-02 20:25] nategoethel commented on #205
I later fixed this by switching to the [docker orb](https://circleci.com/developer/orbs/orb/circleci/docker) to build and push images to my ECR. I still use this orb to handle authenticating with ECR, though.

My hunch is that the `docker buildx` commands this orb uses don't play well with CircleCI's DLC nor with how CircleCI expects docker's built-in layer caching to work.

[2022-06-06 21:40] szuckerman17 commented on #206
I am facing the same problem `Error calling job: 'aws-ecr/build-and-push-image'Unexpected argument(s): checkout` when trying to upgrade from 6.13.0 to 8.1.2

[2022-06-09 16:33] mishabruml commented on #199
yes please. we need to run a snyk scan on the built image before pushing it

[2022-06-13 11:02] siddharthsathe commented on #200
Downgrading to `7.0.0` pushes images to ECR successfully. Same doesn't work with `8.1.2`. Thanks @sidewaiise for mentioning the version number.

[2022-06-15 00:44] ConradKurth opened #210 "Build arguments not working"
### Orb version
8.1.2

### What happened

When I upgrade from v7.x.x to the last 8.1.2 my --build-arg is now failing. We are cat'ing a file to inject information into the docker file.

Example would be
[code]
 I noticed that when i run this locally based off your bash script it seems to consider `--build-arg VERSION` as the first argument and not a split pair of flag and then argument.

I was test

[2022-06-15 23:46] kangaechu opened #211 "[jobs:build-and-push-image] An error occurred (ValidationError) when calling the AssumeRoleWithWebIdentity operation: Request ARN is invalid"
### Orb version

8.1.2

### What happened

When authenticating using CircleCI OIDC Token, the `Generate shotlived AWS Keys using CircleCI OIDC token` step displays the error message `An error occurred (ValidationError) when calling the AssumeRoleWithWebIdentity operation: Request ARN is invalid`.
The process itself completes successfully, but it appears that the AWS access token (AWS_ACCESS_KEY_ID

[2022-06-16 01:32] kangaechu opened #213 "[jobs:build-and-push-image] cat: /home/circleci/.docker/config.json: No such file or directory"
### Orb version

8.1.2

### What happened

In build-and-push-image job, `Log into Amazon ECR with profile default` step returns error message like `cat: /home/circleci/.docker/config.json: No such file or directory`.
But this step ends sussessfully.

[code]

### Expected behavior

This message is not displayed.

[2022-06-20 12:50] maximebeaudoin commented on #206
+1 something is wrong when we want to put checkout to false.

[2022-06-28 13:11] sibelius commented on #144
how did you fixed the permission issue?

[2022-06-29 04:02] great084 commented on #213
@kangaechu
thank u for information.
Same behavior happened for my environment at orb version 8.1.2.
It didn't happen when I downgraded the version to 8.1.0

[2022-07-05 09:05] aereal commented on #201
I also encountered this problem.

My yet another workaround is below:

[code]

[2022-07-07 03:07] yilinjuang commented on #205
Hi @nategoethel may I ask how did you replace aws-ecr/build-and-push-image with docker orb? Could you kindly provide you configuration? Thanks

[2022-07-12 00:18] m1keil opened #217 "Lifecycle policy path requires scheme"
### Orb version
aws-ecr@8.1.2

### What happened
Passing `lifecycle-policy-path: my-policy.json` parameter errors:

[code]

The parameter just passed as-is to the `--lifecycle-policy-text` flag of the AWS CLI execution. However, the AWS CLI [requires](https://docs.aws.amazon.com/cli/latest/userguide/cli-usage-parameters-file.html) that file's path parameters should be prefixed with `file://` schem

[2022-07-17 00:15] sasha240100 commented on #188
+1 (8.1.2)

[2022-07-19 02:52] amyagkov-plenty commented on #213
I experience exactly the same issue as stated above.

[2022-08-04 01:28] jpdsteno commented on #202
Same here. DLC is a no go. This is a deal breaker for me.

[2022-08-12 07:01] trondhindenes commented on #182
is this still broken? That's not a good sign...

[2022-08-12 09:46] Andy-Bell commented on #182
Seeing this issue still on any builds that specify their own dockerfile, getting

[code]

[2022-08-12 17:44] davorceman opened #220 "Split path to Dockerfile and path to build context"
This is more question, if someone can direct me how to solve this issue without changing project structure

I have to set circleci for one project with next structure... one repo for 3 different applications. Dockerfile for each app is in subfolder for that app.
But in the root of the repo is poetry.lock and pyproject.toml
They are already building from local without any issues, just with command

[2022-08-18 03:25] schmiman opened #221 "create-repo fails if ECR repository already exists"
### Orb version
circleci/aws-ecr@8.1.2

### What happened

With the create-repo tag, the build fails if the repo already exists.

    steps:
      - setup_remote_docker
      - aws-ecr/build-and-push-image:
          region: ap-southeast-1
          create-repo: true
          assume-web-identity: true
          role-arn: arn:aws:iam::xxxxxx:role/xxxxxx-role
          repo: pdf-service
          r

[2022-08-21 19:34] alexgorb2016 commented on #202
Hi, Is it possible to fix this issue?

[2022-08-23 14:04] DaJoTo opened #222 "Configure retries for docker pull operations"
## What would you like to be added

Would be nice to see the addition of a parameter that sits above any commands that do docker pull operations. This parameter would just be a number to stipulate how many times the script should retry `docker pull` failures before aborting the pipeline

Something like:
`docker-pull-retries: 3`

## Why is this needed

The majority of our pipeline failures occur ar

[2022-08-23 18:43] vatima2016 commented on #203
Please update to **aws-cli@3.1.1**: there is a fix https://github.com/CircleCI-Public/aws-cli-orb/issues/105

[2022-08-24 14:35] jrinaudo commented on #202
Same here, I have:
[code]
But it's not using layer caching.

[2022-08-25 18:03] liuliu commented on #199
Anything prevents to continue use 7.3 until this added? Any gotchas?

[2022-08-26 03:36] kelvintaywl commented on #202
Hi folks!

thank you for reaching out here, and sharing on this issue.

I understand from similar posts ([one example here](https://discuss.circleci.com/t/does-docker-layer-caching-support-buildx/41401/2)) and after trying myself indeed that:

- Docker Layer Cache (DLC) is not working somehow with `docker buildx build` command.

This is relevant here, because:

- as of aws-ecr Orb v8.x (from [v8.0

[2022-08-26 15:12] lewalt000 opened #223 "New aws-cli/setup configuration parameter: working_directory"
## What would you like to be added

It would be very useful to add `working_directory` as a configuration parameter to the `aws-cli/setup` command.

## Why is this needed

Some jobs set a default `working_directory` for the entire job, which also effects orb installs. I've observed this orb fail to install with error `environment: line 29: $1: unbound variable`, which is fixed by removing the `wor

[2022-08-26 17:45] lewalt000 commented on #223
opened this in the wrong repo, closing and re-opening in aws-cli-orb repo

[2022-08-26 17:45] #223 closed

[2022-08-29 21:29] 2morales commented on #188
Problem still persists with 8.1.2

Any updates on this?

[2022-09-06 17:11] gkeiser commented on #206
:+1: I just discovered this, has anyone figured out a work-around?

[2022-09-08 21:01] heberrealself opened #224 "Using 8.1.2 orb to create ecr with buildx to use ARM64 architecture is not working."
I'm trying to generate and push an ECR image using aws-ecr@8.1.2 with ARM64 architecture but when I try the execution I'm stuck with an error ocurring at the https://github.com/CircleCI-Public/aws-ecr-orb/blob/master/src/scripts/docker-buildx.sh script.  The error says "`ERROR: "docker buildx build" requires exactly 1 argument.`".  This is in the last command of the sh script.

[code]

All previou

[2022-09-09 15:06] odie5533 commented on #206
I workaround it by using the older orb circleci/aws-ecr@7.3.0

[2022-09-10 22:44] CarlosItline opened #225 "Assuming ~/.docker/config.json exists"
Hi,

I'm trying to use this command, but this line assumes the ~/.docker/config.json file already exists.

https://github.com/CircleCI-Public/aws-ecr-orb/blob/7ceb2edb57dc9f42a1ecc5ec3a5830fc00140ab8/src/scripts/ecr-login.sh#L17

[2022-09-12 17:20] heberrealself commented on #224
Just wanted to add that now is working when executing it without the `extra-build-args` parameter.  Wonder if the command is hitting max linux command line size with it, don't have a specific use for `extra-build-args` at the moment to test it again, but will test it as soon as I have a case for it.

[2022-09-15 09:16] mattops opened #226 "Please update and release orb with latest downstream updates"
### Orb version

8.1.2

### What happened

This orb pulls in a dependent orb `circleci/aws-cli@3.1`  - there are some bug fixes in this orb which are not compiled into your ECR orb because there hasn't been a recent release.

This issue in particular https://github.com/CircleCI-Public/aws-cli-orb/issues/105

### Solution

Please trigger a new build/release to pull in the latest fixes in the downst

[2022-09-15 10:12] acorncom commented on #210
@ConradKurth looking at your issue, almost looks like the `unknown flag` error is from the `docker build` command, did you ever get this sorted out?

[2022-09-22 09:47] mtsmfm opened #227 "Fails to push to ECR public with docker executor cimg/base:current image"
### Orb version

8.1.2

### What happened

I got the following error when I ran `aws-ecr/build-and-push-image` with docker executor and cimg/base:current image.

[code]

Changing executor fixes this problem:

[code]

### Expected behavior

Pushing image without error

[2022-09-27 11:43] KunWoong opened #228 "pushing multi platform image into public ecr repo"
### Orb version
8.1.2

### What happened

when build and push image to public repo with more than one parameters for platform, it says
"AWS ECR does not support multiple platforms for public registries. Please specify only one platform and try again"

[code]

Below is my pseudo job

[code]

### Expected behavior

what i expect is, push like 'docker buildx build --platform linux/amd64,linux/arm64'

[2022-10-03 16:51] sebastian-lerner opened #229 "update remote docker version to no longer be pinned to an old version"
### Orb version

?

### What happened

update remote docker version to no longer be an old one and instead rely on the default which will now get updated regularly. https://discuss.circleci.com/t/default-docker-version-for-remote-docker-jobs-changing-on-september-6/45157/2

This line: https://github.com/CircleCI-Public/aws-ecr-orb/blob/20543408da67b0013c3adea8a0dac192ab0b5540/src/commands/build-an

[2022-10-05 16:59] RobvH commented on #84
Broke an upgrade and cost 20 minutes. I imagine you can multiply this by a few hundred for all the others it will impact. Please consider practical impacts over principles when making unnecessary changes. Appreciate the orb but was this breaking change essential?

[2022-10-11 13:58] #211 closed

[2022-10-11 22:44] brivu commented on #229
This issue has been addressed in PR #230

[2022-10-11 22:44] #229 closed

[2022-10-12 19:16] pepesenaris opened #231 "Can not use environment variable in the path parameter of build-image command"
### Orb version

Affects 8.1.3

### What happened

When the path parameter contains an environment variable its value is not expanded. Instead we get a literal string with the variable name.
For example if we have a step with the following code:
[code]
and we call the command with

[code]

The actual value for the path used is `$DOCKER_BUILD_PATH` instead of `my-custom-directory`

### Expected beh

[2022-10-12 19:31] pepesenaris opened #233 "Can not run build-image command more than once in the same job"
### Orb version

Affects orb 8.1.3

### What happened
If we run the `build-image` command twice in the same job we get a failure.
This is due to running `docker context create builder` a second time and getting a non-zero exit code, given that the builder was already created in the previous command execution.

### Expected behavior

We should be able to run the `build-image` command more than once

[2022-10-19 21:33] brivu commented on #231
Hey @pepesenaris,

I just wanted to let you know that we’ve addressed this issue and it’s been merged into #235.

As soon as PR #235 is approved from my team, I’ll merge your changes cut a new release.

Thank you for your contributions!
-Brian

[2022-10-19 21:33] brivu commented on #233
Hey @pepesenaris,

I just wanted to let you know that we’ve addressed this issue and it’s been merged into #235.

As soon as PR #235 is approved from my team, I’ll merge your changes cut a new release.

Thank you for your contributions!
-Brian

[2022-10-20 02:05] pepesenaris commented on #233
Thanks and have a great day

[2022-10-20 18:17] ChrisPage-AT commented on #202
Do we know if the plan is to fix DLC in the aws-ecr orb or to remove the DLC options from the commands/job?  I don't want to reinvent the wheel if the plan is to fix the orb soon.  Thanks!

[2022-10-20 19:33] #185 closed

[2022-10-20 19:33] #186 closed

[2022-10-20 19:34] #233 closed

[2022-10-20 19:34] #231 closed

[2022-10-20 20:06] brivu commented on #228
Hey @KunWoong,

Have your tried to run the `docker buildx build --platform linux/amd64,linux/arm64` and push to a public registry using a `cli`?

If it has worked for you, can you give me the whole command?

I am going to try to add a `docker context` before running the `docker buildx build` command with multiple arch types to see if it works.

Let me know!

-Brian

[2022-10-20 21:37] brivu commented on #227
Hey @mtsmfm,

I ran into the same issue. AWS ECR just changed their URI scheme. Instead of using an account id like so`public.ecr.aws/${!PARAM_ACCOUNT_ID}`, they have assigned an account alias for each registry so the new scheme looks like this: `public.ecr.aws/registry_alias`

I've added the `public-registry-alias` to the orb in PR #235. If you are pushing to an public registry, you need to provi

[2022-10-21 21:08] brivu commented on #226
Hey @mattops,

We've resolved this issue and released version `8.1.3`.

Best,
Brian

[2022-10-21 21:08] #226 closed

[2022-10-22 00:46] #227 closed

[2022-10-22 00:46] #200 closed

[2022-10-22 00:46] #217 closed

[2022-10-27 19:16] kryptonite303 commented on #188
This is still happening with 8.1.3

[2022-11-02 18:14] brivu commented on #199
Hey Everyone,

Just wanted to let you know that I am working on the bug fixes for this orb and will add the push command back.

Thanks for everyone's contributions.

Best,
Brian

[2022-11-04 00:57] Quidge commented on #220
I am having this same issue. Pretty sure I found the problem and agree that it would be an enhancement because the orb doesn't support this out of the box.

To solve your issue with the current orb version/capabilities, I suggest doing abandoning using path and falling back to the docker args themselves:

In your workflow:
[code]

It's happening because the `path` is used as the same value for bot

[2022-11-07 18:14] brivu commented on #201
Hey @aereal  and @bouzuya,

This issue has been addressed in PR #234 . There's a check that will not create the `builder` context if it already exists.

Thanks for contributing!

Best,
Brian

[2022-11-07 18:14] #201 closed

[2022-11-07 18:29] brivu commented on #202
Hey Everyone,

I'm currently working on the issues of this orb and we're exploring options to ensure DLC works. Right now, as @kelvintaywl has mentioned, it looks like DLC only works with `docker buildx build` with `amd64` based images and not `arm64`.

We're exploring PR #236 as a possible solution.

Thank you for everyone's contributions!

Best,

[2022-11-08 20:21] #199 closed

[2022-11-08 20:34] brivu commented on #204
Hey @zbroniszewski,

Really good catch and I appreciate it. Let me a take a look and get this fixed with our next release.

Thanks for letting us know!

-Brian

[2022-11-08 20:43] brivu opened #240 "Add validation for registry-id"
Since the `registry-id` parameter is an environment variable, customer have to add it within their `project settings` in CircleCi.
When it is not added, the entire job is ran and fails at the end when trying to push the image to the registry.

This request is to add a check for `registry-id` and makes the job fail right away if there isn't one present.

[2022-11-08 20:52] brivu commented on #203
Closing this issue since the current version of this orb imports `aws-cli@3.1.4`

[2022-11-08 20:52] #203 closed

[2022-11-09 18:45] #228 closed

[2022-11-09 22:54] p0tr3c commented on #221
I am experiencing the same issue.

[2022-11-11 13:22] sebastian-lerner commented on #202
cc @eddiewebb

Thanks @brivu for the update!

[2022-11-12 12:18] zbroniszewski commented on #204
@brivu You can ignore this. This was my ignorance of the difference between the `when` and `unless` clauses in CircleCI configurations. There's no issue here. (That I can tell)

[2022-11-12 12:18] #204 closed

[2022-11-23 08:25] brivu commented on #240
This has been addressed in PR #243

[2022-11-23 08:25] #240 closed

[2022-11-23 22:35] brivu commented on #202
Hey Everyone,

It turns out that `DLC` does not work with `docker buildx` at all regardless of if it's building an `arm64` or `amd64` based image.

I'll be adding the `docker build` command back into this orb since we know that `DLC` works with this command.

-Brian

[2022-11-23 23:19] #210 closed

[2022-11-23 23:19] #224 closed

[2022-11-24 00:08] brivu commented on #224
Hey @heberrealself,

Just wanted to let you know that the `extra-build-args` were not being evaluated correctly. I went ahead and implemented a fix in PR #245 and will cut a release when all the issues are addressed.

Thanks for your contributions!

Best,
Brian

[2022-11-24 09:02] brivu commented on #221
Hey @p0tr3c and @schmiman,

I am a little confused with what you mean by `tag` below:

Is the job failing because the `repo` name already exists but only with a different `tag`?

Or did you mean that when the `create-repo` parameter is `true`, the job fails if the `repo` name already exists?

Let me know so I can fix this issue in our next release!

Best,
Brian

[2022-11-25 12:16] blatinier commented on #202
Hello,

Is there an estimation of when this will be available in circleCI?
It can determine if we invest in a workaround or if we just wait patiently for the fix :)

Thanks for your work
Benoît

[2022-11-28 00:43] Maxwell2022 opened #247 "Allow optional usage of zstd context"
## What would you like to be added

https://aws.amazon.com/blogs/containers/reducing-aws-fargate-startup-times-with-zstd-compressed-container-images/

## Why is this needed

smaller images, faster deployment

[2022-11-28 20:01] #206 closed

[2022-11-28 22:38] rajeshbolisetty commented on #224
@brivu

When do you think, you are planning to cut out release ?

Thanks
Rajesh

[2022-11-28 22:45] heberrealself commented on #224
Hello Rajesh, sorry to keep you waiting, we found the problem was in the
parameters we were sending and now is working fine.  We have been using the
ARM64 architecture for a couple of months now and all without
inconveniences.

Thank you for the follow up and wish you a great day.

Heber.

On Mon, Nov 28, 2022 at 4:38 PM RajeshKumar Bolisetty <
***@***.***> wrote: